.new-conversation-form {
    min-width: 400px;
    max-width: 500px;
    font-size: 12pt;
    font-family: Roboto, Arial, sans-serif;
    width: 100%;
    margin: 0px 0px;
  }
  
  /* .example-full-width {
    width: 100%;
  } */