<form [formGroup]="reviewForm" (ngSubmit)="onYesClick()">
    <h2 mat-dialog-title>Leave a review for: {{data.name}}</h2>
    <mat-form-field class="full-width">
        <input matInput name="title" placeholder="Title:" formControlName="title">
    </mat-form-field>

    <textarea matInput placeholder="Review:" matTextareaAutosize 
    matAutosizeMinRows="5" matAutosizeMaxRows="10" name="text" formControlName="text"></textarea>
    <div mat-dialog-actions>
        <button type="button" color="accent" mat-raised-button (click)="onNoClick()">Cancel</button>
        <button color="accent" mat-raised-button>Submit Review</button>
    </div>
</form>