<!-- Header Container
================================================== -->
<header id="header-container">
  
    <!-- Header -->
    <div id="header">
      <div class="container">
        
        <!-- Left Side Content -->
        <div class="left-side">
          
          <!-- Logo -->
          <div id="logo">
            <a routerLink="/home"></a>
          </div>
  
          <!-- Mobile Navigation -->
          <!-- <div class="mmenu-trigger">
            <button class="hamburger hamburger--collapse" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div> -->
  
  
          <!-- Main Navigation -->
          <nav id="navigation" class="style-1">
            <ul id="responsive">
              <li><a routerLink="/home">localBeats</a></li>
              <ng-template [ngIf]="userService.isAuthenticated()">
                <li><a [routerLink]="['/my-events']">Events</a></li>
                <li><a [routerLink]="['/profile']">Profile</a></li>
                <!-- <li><a href="#">Profile</a>
                  <ul>
                    <li><a [routerLink]="['/profile', this.userService.user._id]">Dashboard</a></li>
                    <li><a routerLink="/">Messages</a></li>
                    <li><a routerLink="/">Bookings</a></li>
                    <li><a routerLink="/my-events">My Events</a></li>
                    <li><a routerLink="/">Reviews</a></li>
                  </ul>
                </li> -->
              </ng-template>
              
            </ul>
          </nav>
          <div class="clearfix"></div>
          <!-- Main Navigation / End -->
          
        </div>
        <!-- Left Side Content / End -->
          <app-signin></app-signin>
          <!-- Right Side Content / End -->
      </div>
    </div>
    <!-- Header / End -->
  
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->
  