#spotifyList:hover {
    background-color: rgba(230,230,230,0.6);
}

#spotifyList:active {
    background-color: rgba(220,220,220,0.6)
}

#spotifyList {
    border-bottom: 1px solid rgba(243,243,243, 1.0);
}

.soundcloud-register-container {
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width : 100%;
}

.no-music-found-container {
    display: flex;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width : 100%;
}

.spotifyConnectButtonContainer {
    display: flex;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width : 100%;
}