<div fxLayout="row" fxLayoutWrap="wrap">
  <div *ngIf="this.user" fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img [src]="this.user.profilePicUrl" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">{{this.user.firstName}}
          <b>{{this.user.lastName}}</b>
        </div>
        <!-- <div class="subtitle mb-05">Big Data Expert</div> -->
      </div>
      <div class="profile-actions text-center mb-1">
        <button *ngIf="!this.onOwnProfile && this.userService.isAuthenticated()" mat-raised-button color="primary" (click)="onStartNewConversationFromProfileButtonClick()">Message</button>
        <button *ngIf="!this.onOwnProfile && this.userService.isAuthenticated() && this.user.isArtist" mat-raised-button color="accent" (click)="clickedRequestArtist = true">Request Artist</button>
      </div>
      <div class="profile-nav">
        <mat-nav-list>
          <!-- check here if to see if on another profile and go to profile/id/overview -->
          <mat-list-item (click)="clickedOver()" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>
            Overview
          </mat-list-item>

          <ng-template [ngIf]="this.onOwnProfile">
            <mat-list-item (click)="clickedOverview = false" [routerLink]="['/profile', 'events']" routerLinkActive="list-item-active">
              <mat-icon>events</mat-icon>
              My Hosted Events
            </mat-list-item>
          </ng-template>
          <ng-template [ngIf]="this.onOwnProfile && this.userService.user.isArtist">
            <mat-list-item (click)="clickedOverview = false" [routerLink]="['/profile', 'performances']" routerLinkActive="list-item-active">
              <mat-icon>music_note</mat-icon>
              My Performances
            </mat-list-item>
          </ng-template>

          <ng-template [ngIf]="this.onOwnProfile">
            <mat-divider></mat-divider>
            <mat-list-item [routerLink]="['/profile','settings']" routerLinkActive="list-item-active">
              <mat-icon>settings</mat-icon>
              Edit Profile
            </mat-list-item>
          </ng-template>

        </mat-nav-list>
      </div>
    </mat-card>

    <!-- Contact Information -->
    <mat-card class="default">
      <mat-card-title>Contact Information</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
            <mat-list-item><mat-icon class="mr-1">email</mat-icon> {{this.user.email}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="default">
      <mat-card-title>Music Corner</mat-card-title>
      <mat-card-content class="pt-0">
       <iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A2PXdUld4Ueio2pHcB6sM8j&theme=white" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <router-outlet></router-outlet>
    <app-profile-request *ngIf="clickedRequestArtist" [user]="userService.user" [artist]="user"></app-profile-request>
    <app-profile-overview *ngIf="clickedOverview" [user]="this.user"></app-profile-overview>
  </div>
</div>
