<div *ngIf="user != null" fxLayout="row" fxLayoutWrap="wrap">
  <div *ngIf="this.user" fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img [src]="this.user.profilePicUrl" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">{{this.user.firstName}}
          <b>{{this.user.lastName}}</b>
        </div>
        <!-- <div class="subtitle mb-05">Big Data Expert</div> -->
      </div>
      <div class="profile-actions text-center mb-1">
        <button *ngIf="!this.onOwnProfile && this.userService.isAuthenticated()" mat-raised-button color="primary" (click)="onStartNewConversationFromProfileButtonClick()">Message</button>
        <button *ngIf="!this.onOwnProfile && this.userService.isAuthenticated() && this.user.isArtist" mat-raised-button color="accent"
          (click)="clickedRequestArtist = true">Request Artist</button>
      </div>
      <div class="profile-nav">
        <mat-nav-list>
          <!-- check here if to see if on another profile and go to profile/id/overview -->
          <mat-list-item (click)="clickedOver()" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>
            Overview
          </mat-list-item>

          <ng-template [ngIf]="this.onOwnProfile">
            <mat-list-item (click)="clickedOverview = false" [routerLink]="['/bookingmanagement', 'myevents']" routerLinkActive="list-item-active">
              <mat-icon>events</mat-icon>
              My Hosted Events
            </mat-list-item>
          </ng-template>
          <ng-template [ngIf]="this.onOwnProfile && this.userService.user.isArtist">
            <mat-list-item (click)="clickedOverview = false" [routerLink]="['/bookingmanagement', 'myperformances']" routerLinkActive="list-item-active">
              <mat-icon>music_note</mat-icon>
              My Performances
            </mat-list-item>
          </ng-template>

          <ng-template [ngIf]="this.onOwnProfile">
            <mat-divider></mat-divider>
            <mat-list-item [routerLink]="['/profile','settings']" routerLinkActive="list-item-active">
              <mat-icon>settings</mat-icon>
              Edit Profile
            </mat-list-item>
          </ng-template>

        </mat-nav-list>
      </div>
    </mat-card>

    <!-- Contact Information -->
    <mat-card class="default">
      <mat-card-title>Contact Information</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item>
            <mat-icon class="mr-1">email</mat-icon> {{this.user.email}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- Music Corner -->
    <mat-card class="default" *ngIf="this.userService.isAuthenticated() && this.user.isArtist">
      <mat-card-title>Music Corner</mat-card-title>
      <mat-card-content class="pt-0">

        <mat-tab-group class="music-tab-group" (selectChange)='onMusicTabSelectChange($event)'>
          
          <mat-tab label="Spotify">
            <!-- <ng-template mat-tab-label> -->
              <!-- <mat-icon>security</mat-icon> -->
            <!-- </ng-template> -->
            <div class="spotify-tab-content" [style.overflow]="'auto'" [style.height.px]="'300'">
              
              <!-- Link spotify button on logged in user's profile if no spotify account is linked -->
              <div class="spotifyConnectButtonContainer" *ngIf="(this.user.spotify === undefined || this.user.spotify === null) && this.onOwnProfile">
                  <button class="btn" (click)="authorizeSpotify()"><i class="fa fa-spotify"></i> Connect your Spotify account</button>
              </div>

              <!-- No spotify linked message on other person's profile with no spotify account -->
              <div *ngIf="(this.user.spotify === undefined || this.user.spotify === null) && !this.onOwnProfile" class="no-music-found-container">
                  <h3>{{this.user.firstName}} has no Spotify music...</h3>
              </div>
              
              <!-- Spotify list of albums -->
              <mat-list dense *ngIf="(this.user.spotify !== undefined && this.user.spotify !== null) && !this.onSpotifyWidget">
                <h3 mat-subheader>Albums</h3>
                <mat-list-item id="spotifyList" *ngFor="let album of this.user.spotify.albums" (click)="onAlbumRowClicked(album)">
                  <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                  <img matListAvatar [src]="this.getSanitizedUrl(album.images[2].url)" alt="album.name">
                  <h3 mat-line>{{album.name}}</h3>
                  <p mat-line> Released on {{album.release_date}} </p>
                </mat-list-item>
              </mat-list>

              <!-- Spotify album widget for clicked album listItem -->
              <iframe *ngIf="this.onSpotifyWidget" [src]="this.trustedAlbumUrl" width=100% height=100% frameborder="0" allowtransparency="true"></iframe>
            </div>
          </mat-tab>


          <mat-tab label="SoundCloud">
            <!-- <ng-template mat-tab-label>
              <mat-icon>attach_file</mat-icon>
            </ng-template> -->
            <div class="soundcloud-tab-content" [style.overflow]="'auto'" [style.height.px]="'300'">
                
                <div *ngIf="(this.user.soundcloud === undefined || this.user.soundcloud === null) && this.user._id === this.userService.user._id" class="soundcloud-register-container">
                  <mat-form-field (keydown)="registerSoundcloudClicked($event)" floatLabel="never" hintLabel="Tip: Your username can be found on the soundcloud profile page">
                      <input matInput [(ngModel)]="soundcloudIdFormInput" placeholder="Register your SoundCloud Username">
                  </mat-form-field>
                </div>
                <div *ngIf="(this.user.soundcloud === undefined || this.user.soundcloud === null) && this.user._id !== this.userService.user._id" class="no-music-found-container">
                  <!-- TODO: Add tear eye emoji -->
                  <h3>{{this.user.firstName}} has no SoundCloud music...</h3>
                    <!-- <mat-form-field (keydown)="registerSoundcloudClicked($event)" floatLabel="never" hintLabel="Tip: ID is the numeric sequence at end of the profile page's URL">
                        <input matInput [(ngModel)]="soundcloudIdFormInput" placeholder="Register your SoundCloud ID">
                    </mat-form-field> -->
                </div>
                
                <iframe *ngIf="(this.user.soundcloud !== undefined && this.user.soundcloud !== null)" [src]="this.trustedSoundcloudUrl" width="100%" height="300" scrolling="no" frameborder="no"></iframe>

            </div>
          </mat-tab>

          <mat-tab label="Account Services" *ngIf="(this.user.spotify !== undefined || this.user.soundcloud !== undefined) && this.user._id === this.userService.user._id">
            <mat-card-content class="mt-1">
              <div class="button-row">
                <a *ngIf="this.user.spotify !== null && this.user.spotify !== undefined" mat-raised-button (click)="unlinkSpotify()" color="primary">Unlink Spotify</a>
                <!-- <a *ngIf="this.user.spotify === null && this.user.spotify === undefined"  mat-raised-button (click)="callbackTest()" color="primary">Link Spotify</a> -->
                
                <a *ngIf="this.user.soundcloud !== null && this.user.soundcloud !== undefined" mat-raised-button (click)="unlinkSoundcloud()" color="primary">Unlink SoundCloud</a>          
                <!-- <a mat-raised-button (click)="callbackTest()" color="primary">Link SoundCloud</a> -->
                <p class="accountEmptyContainer" *ngIf="(this.user.spotify === null || this.user.spotify === undefined) && 
                (this.user.soundcloud === null || this.user.soundcloud === undefined)">Nothing to see here...</p>
            </div>
            </mat-card-content>
          </mat-tab>

        </mat-tab-group>


      </mat-card-content>

      <mat-card-actions>
        <!-- <h4 mat-subheader *ngIf="!this.onSpotifyWidget">Album Count : {{this.user.spotify.albums.length}}</h4> -->
        <button mat-button *ngIf="this.onSpotifyWidget" (click)="backToSpotifyAlbumsClicked()">
          <mat-icon>arrow_back</mat-icon> Back to Albums</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">

    
    <!-- OVERVIEW  -->



    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
      <!-- Time line -->
      <mat-card *ngIf="numberCompletedReviews == 0" class="default">
        <mat-card-title>No reviews for {{user.firstName}}</mat-card-title>
        <mat-card-title></mat-card-title>
      </mat-card>
  
      <mat-card *ngIf="numberCompletedReviews > 0" class="default">
        <mat-card-title *ngIf="numberCompletedReviews > 0">Reviews for {{user.firstName}}:</mat-card-title>
        <mat-card-title *ngIf="numberCompletedReviews > 0">Average rating: {{averageRating}} out of 5 from {{numberCompletedReviews}} reviews</mat-card-title>
  
        <mat-card-content>
          <div class="timeline">

            <div class="timeline-item" *ngFor="let review of results">
  
              <div *ngIf="review.booking.bothReviewed" class="timeline-body">
                <div class="timeline-body-top" fxLayout="row">
                  <div class="timeline-body-title mr-1">
                    <mat-icon mat-list-icon>
                      <img (click)="clickedReviewer(review.fromUser)" mat-list-avatar [src]="review.fromUser.profilePicUrl" alt="No picture" style="
                      border-radius: 50%;
                      ">
                    </mat-icon>
                    {{review.fromUser.firstName}} {{review.fromUser.lastName}}
                  </div>
                </div>
  
                <div class="timeline-body-top" fxLayout="row">
                  <div class="timeline-body-title mr-1">
                    <b>{{review.title}}</b>
                  </div>
                </div>
                <div class="timeline-body-top" fxLayout="row">
                  <span class="text-muted">
                    {{ review.date | relativeTime}}
                  </span>
                </div>
                <div class="timeline-body-top" fxLayout="row">
                  <div class="timeline-body-title mr-1">
                    Rating: {{review.rating}} / 5
                  </div>
                </div>
  
                <div class="timeline-body-content">
  
                  <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10" style="
                  resize: none;">{{review.text}}</textarea>
  
                </div>
              </div>
            </div>
            <mat-paginator 
                [length]="allResults.length" 
                [pageSize]="pageSize"  
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent($event)">
              </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>


      <!-- End Time line -->
  
      <mat-card class="default">
        <mat-card-title>Recent Event Photos</mat-card-title>
        <mat-card-content class="p-0">
          <mat-grid-list cols="3" rowHeight="1:1" class="app-gallery">
            <!-- Gallery item -->
            <mat-grid-tile *ngFor="let photo of photos">
              <img [src]="photo.url" alt="">
              <!-- item detail, show on hover -->
              <div class="gallery-control-wrap">
                <div class="gallery-control">
                  <h4 class="photo-detail fz-1" [fxHide.lt-sm]="true">{{photo.name}}</h4>
                  <span fxFlex></span>
                  <button mat-icon-button [matMenuTriggerFor]="photoMenu" class="">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #photoMenu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>send</mat-icon>Send as attachment</button>
                    <button mat-menu-item>
                      <mat-icon>favorite</mat-icon>Favorite</button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>Delete</button>
                  </mat-menu>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">  
      <mat-card class="default">
        <mat-card-title>Events Activity</mat-card-title>
        <mat-card-content class="p-0" fxLayout="column">
          <div class="activity-data">
            <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
              [limit]="4" [rows]="activityData">
              <ngx-datatable-column name="Month" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.month }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Paid" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.spent }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Bid" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.opened }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Booked" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.closed }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </mat-card-content>
      </mat-card>
  
    </div>









    <!-- SETTTTTIGNGGGSSSS -->


  </div>
</div>