<mat-card>
  <mat-card-header>
    <mat-card-title>{{model.eventName}}</mat-card-title>
    <mat-card-subtitle (click)="onSelectHost()"> Host: {{model.hostUser?.firstName}} {{model.hostUser?.lastName}}</mat-card-subtitle>
  </mat-card-header>
    <mat-card-content>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
      <div fxFlex="50">
        <!-- <mat-icon (click)="onSelectHost()" mat-list-icon>
              <img [src]="model.hostUser?.profilePicUrl">
            </mat-icon> -->
        <p mat-line></p>
        <div class="pb-1">
          <mat-list class="mr-1">
            <mat-list-item>
              <mat-icon mat-list-icon>info</mat-icon>

              <p mat-line>{{model.eventType | capitalize}}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>monetization_on</mat-icon>
              <p mat-line> ${{model.fixedPrice}} </p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>date_range</mat-icon>
              <p *ngIf="sameDay" mat-line> {{model.fromDate | date:'MMM d, y: h:mm a'}} - {{model.toDate | date:'h:mm a'}}</p>
              <p *ngIf="!sameDay" mat-line> {{model.fromDate | date:'MMM d, h:mm a'}} - {{model.toDate | date:'MMM d, y, h:mm a'}}</p>

            </mat-list-item>
            <mat-list-item *ngIf="this.model.negotiable">
              <mat-icon mat-list-icon>import_export</mat-icon>
              <p mat-line>Price is negotiable</p>
            </mat-list-item>
            <mat-list-item *ngIf="!this.model.negotiable">
              <mat-icon mat-list-icon>import_export</mat-icon>
              <p mat-line>Price is non-negotiable</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>event_busy</mat-icon>
              <p mat-line>Cancellation Policy: {{model.cancellationPolicy | capitalize}} </p>
            </mat-list-item>
            <mat-list-item>
              <small *ngIf="model.cancellationPolicy == 'strict'" class="form-error-msg">Either user who cancels a confirmed booking within 30 days of the calendar start date will be charged 15%.</small>
              <small *ngIf="model.cancellationPolicy == 'flexible'" class="form-error-msg">Either user who cancels a confirmed booking within 7 days of the calendar start date will be charged 15%.</small>
            </mat-list-item>
          </mat-list>

          <mat-divider class="mt-1">

          </mat-divider>

          <p class="fz-1">
            About Event:
          </p>
          <p>
            {{ this.model.description }}
          </p>

          <!-- <mat-divider *ngIf="userService.isAuthenticated()"></mat-divider> -->
          <button *ngIf="isCurrentUser && userService.isAuthenticated()" (click)="onEditEvent()" mat-raised-button color="primary">Edit Event</button>
          <button *ngIf="isCurrentUser && userService.isAuthenticated()" (click)="onDeleteEvent()" mat-raised-button color="accent">Delete Event</button>
          <button *ngIf="!isCurrentUser && userService.isAuthenticated()" (click)="messageHost()" mat-raised-button color="primary">Message Host</button>
          <button *ngIf="!isCurrentUser && userService.isAuthenticated() && !hasApplied && userService.user.isArtist" (click)="newApplication()"
            mat-raised-button color="accent">{{buttonText}}</button>
          <button *ngIf="!isCurrentUser && userService.isAuthenticated() && hasApplied && userService.user.isArtist && userBooking != null && !userBooking.approved"
            (click)="onManageBooking()" mat-raised-button color="accent">Manage Application</button>
          <button *ngIf="!isCurrentUser && userService.isAuthenticated() && hasApplied && userService.user.isArtist && userBooking != null && userBooking.approved"
            (click)="onManageBooking()" mat-raised-button color="accent">Manage Booking</button>
        </div>

      </div>

      <div fxFlex="5">





      </div>
      <div fxFlex="40">

        <div class="wrapper">


          
          <div class="map pb-1">
            
            <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
            


          </div>
          <div class="eventImage">
            
              <img  [src]="model.eventPicUrl">
              
            </div>
        </div>
      </div>


    </div>
  </mat-card-content>
</mat-card>