.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
  }
  /* agm-map {
    height: 300px;
  } */

  agm-map {
    height: 300px;
  }

  .eventImage{
    max-width: 300px;
    /* height: auto; */
    margin: auto;
  }

  .map{
    max-width: 300px;
    /* height: auto; */
  }
