<!-- Reviews -->
<div id="listing-reviews" class="listing-section">


    <!-- Reviews -->
    <section class="comments listing-reviews">

      <ul>
        <li>
          <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
          <div class="comment-content"><div class="arrow-comment"></div>
            <div class="comment-by">Joe Zachary<div class="comment-by-listing">on <a href="#">What a great guy</a></div> <span class="date">December 2017</span>
              <div class="star-rating" data-rating="5"></div>
            </div>
            <p>He is an amazing person.</p>
            <div class="review-images mfp-gallery-container">
              <!-- <a href="images/review-image-01.jpg" class="mfp-gallery"><img src="images/review-image-01.jpg" alt=""></a> -->
            </div>
          </div>
        </li>
       </ul>
    </section>
    <!-- Pagination / End -->
  </div>