
<div id="listing-reviews" class="listing-section">
      <h3 class="margin-top-60 margin-bottom-20">Reviews</h3>
<app-review *ngFor="let review of reviews"></app-review>
<!-- Pagination -->
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12">
    <!-- Pagination -->
    <div class="pagination-container margin-top-30">
      <nav class="pagination">
        <ul>
          <li><a href="#" class="current-page">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>
<div class="clearfix"></div>
<!-- Pagination / End -->
