
<h1 matDialogTitle>{{title}}</h1>

<div  *ngIf="this.data.booking.bookingType != 'artist-apply' && artistAvail != ''" style="padding-bottom: 25px; color: rgb(199, 33, 33);">

        <div mat-dialog-content>WARNING:</div>
    
    <div mat-dialog-content>{{artistAvail}}</div>

</div>

<div mat-dialog-content>{{subtext}}</div>
<br>
<form mat-dialog-content [formGroup]="negotiationForm" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
        <input matInput currencyMask [options]="{ align: 'left' }" [formControl]="negotiationForm.controls['price']" autofocus="true" placeholder="Price" type="text" (keyup)="onPriceChange()">
    </mat-form-field>
    <small *ngIf="negotiationForm.controls['price'].hasError('required') && negotiationForm.controls['price'].touched" class="form-error-msg">A price is required </small>
    <small *ngIf="negotiationForm.controls['price'].hasError('min') && negotiationForm.controls['price'].touched" class="form-error-msg">You must input a price greater than 0</small>
    <small *ngIf="negotiationForm.controls['price'].hasError('pattern') && negotiationForm.controls['price'].touched" class="form-error-msg">You must input a valid price of the form X or X.XX</small>
    <mat-form-field class="full-width">
        <textarea matInput [formControl]="negotiationForm.controls['comment']" placeholder="Leave a comment"></textarea>
    </mat-form-field>
</form>
<div mat-dialog-actions>
<button 
type="button" 
mat-raised-button
color="primary" 
[disabled]="negotiationForm.invalid"
(click)="accept()">{{acceptButtonText}}</button>
&nbsp;
<span fxFlex></span>
<button 
type="button"
color="accent"
mat-raised-button 
(click)="decline()">{{declineButtonText}}</button>
</div>`
