<!-- Wrapper -->
<div id="wrapper">


	<!-- Dashboard -->
	<div id="dashboard">


		<!-- Content ================================================== -->
		<div class="dashboard-content">

			<!-- Titlebar -->
			<div id="titlebar">
				<div class="row">
					<div class="col-md-12">
						<h2>My Events</h2>
					</div>
				</div>
			</div>

			<div class="row">

				<!-- Listings -->
				<div class="col-lg-12 col-md-12">
					<div class="dashboard-list-box margin-top-0">
						<h4>Hosted Events:</h4>
						<ul>
							<li *ngFor="let event of this.events; let i = index">
								<div class="list-box-listing">
									<div class="list-box-listing-img">
										<a (click)="onPickEvent(event.event)">
											<img src="../../assets/images/jimsmall.png" alt="">
										</a>
									</div>
									<div class="list-box-listing-content" (click)="onPickEvent(event.event)">
										<div class="inner">
											<h3>
												<a (click)="onPickEvent(event.event)">
													{{event.eventName}}
												</a>
											</h3>
											<span>{{ event.address }}</span>
										</div>
									</div>
								</div>
								<div class="buttons-to-right">
									<a (click)="viewApplicants(event)" class="button gray">
											<i class="sl sl-icon-note"></i> View Applicants</a>
									<a (click)="onEditEvent(event)" class="button gray">
										<i class="sl sl-icon-note"></i> Edit</a>
									<a (click)="onDeleteEvent(event, i)" class="button gray">
										<i class="sl sl-icon-close"></i> Delete</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="dashboard-list-box margin-top-0">
						<h4>Events that have requested you:</h4>
						<ul>
							<li *ngFor="let event of this.requestedArtistEvents; let i = index">
								<div class="list-box-listing">
									<div class="list-box-listing-img">
										<a (click)="onPickEvent(event)">
											<img src="../../assets/images/jimsmall.png" alt="">
										</a>
									</div>
									<div class="list-box-listing-content" (click)="onPickEvent(event)">
										<div class="inner">
											<h3>
												<a (click)="onPickEvent(event.event)">
													{{event.eventName}}
												</a>
											</h3>
											<span>{{ event.address }}</span>
										</div>
									</div>
								</div>
								<div class="buttons-to-right">
									<a *ngIf="!requestedArtistBookings[i].approved" (click)="onAcceptArtist(event, i)" class="button gray">
										<i class="sl sl-icon-note"></i> Approve</a>
									<a *ngIf="!requestedArtistBookings[i].approved" (click)="onDeclineArtist(event, i)" class="button gray">
										<i class="sl sl-icon-close"></i> Decline</a>
									<a *ngIf="requestedArtistBookings[i].approved" (click)="onDeclineArtist(event, i)" class="button gray">
										<i class="sl sl-icon-close"></i> Cancel Performance</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="dashboard-list-box margin-top-0">
						<h4>Events you've applied for:</h4>
						<ul>
							<li *ngFor="let event of this.appliedEvents; let i = index">
								<div class="list-box-listing">
									<div class="list-box-listing-img">
										<a (click)="onPickEvent(event)">
											<img src="../../assets/images/jimsmall.png" alt="">
										</a>
									</div>
									<div class="list-box-listing-content" (click)="onPickEvent(event)">
										<div class="inner">
											<h3>
												<a (click)="onPickEvent(event)">
													{{event.eventName}}
												</a>
											</h3>
											<span>{{ event.address }}</span>
										</div>
									</div>
								</div>
								<div class="buttons-to-right">
									<a (click)="onCancelRequest(event, i)" class="button gray">
										<i class="sl sl-icon-note"></i> Cancel</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Content / End -->
		</div>
		<!-- Dashboard / End -->
	</div>
	<!-- Wrapper / End -->