

<!-- Wrapper -->
<div id="wrapper">


<!-- Dashboard -->
<div id="dashboard">


	<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>My Listings</h2>
				</div>
			</div>
		</div>

		<div class="row">
			
			<!-- Listings -->
			<div class="col-lg-12 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4>Active Listings</h4>
					<ul>
						<app-event *ngFor="let event of events; let i = index"
									[event]="event.event"
									[index]="i"></app-event>
					</ul>
				</div>
			</div>


	</div>
	<!-- Content / End -->
</div>
<!-- Dashboard / End -->


</div>
<!-- Wrapper / End -->

