<mat-card class="p-0">
  <mat-tab-group>

    <mat-tab label="Edit Account">
      <mat-card-content class="mt-1">
        <form [formGroup]="settingsForm" (ngSubmit)="onEditProfile()">
          <mat-form-field class="full-width">
            <input matInput name="name" placeholder="Name" formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput name="title" placeholder="Last Name"  formControlName="lastName">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput name="email" placeholder="Email"  formControlName="email">
          </mat-form-field>
          
            <!-- <input matInput name="title" placeholder="Last Name"  formControlName="lastName"> -->

          <mat-form-field class="full-width">
            <mat-select [formControl]="settingsForm.controls['genres']" name="genres" placeholder="Music Genres" multiple>
              <mat-option *ngFor="let genre of genresList" [value]="genre" >{{genre | capitalize}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
              <mat-select [formControl]="settingsForm.controls['eventTypes']" name="types" placeholder="Preferred Event Types" multiple>
                <mat-option *ngFor="let type of eventsList" [value]="type" >{{type | capitalize}}</mat-option>
              </mat-select>
          </mat-form-field>
          <div class="pb-1">

          <mat-checkbox name="artist" (click)="onArtist()" formControlName="isArtist">Are you an artist?</mat-checkbox>
</div>
          <button mat-raised-button color="primary">Save</button>
        </form>
      </mat-card-content>
    </mat-tab>


    <mat-tab label="Profile Picture">
      <mat-card-content>
        <div class="mb-1 mt-1">
          <p>Upload a profile picture</p>
          <input type="file" (change)="fileChangeEvent($event)" accept=".jpg,.png"/>
          
          <image-cropper 
              *ngIf="showCropper"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              [resizeToWidth]="256"
              format="png,jpeg"
              (imageCropped)="imageCropped($event)"
              style="max-width:512px; max-height:512px"
          ></image-cropper>
          
          <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
       <p></p>
          <a *ngIf="croppedImage" (click)="prepareBlob()" mat-raised-button >Crop and Upload</a>
        </div>
      </mat-card-content>
    </mat-tab>

    <mat-tab label="Payout Methods">
      <mat-card-content class="mt-1">
        <p>If you plan on performing at an event or hosting an event you'll need to setup a payout method.</p>
        <div class="button-row">
        <a [disabled]="this.user.stripeAccountId" mat-raised-button (click)="authorizeStripe()" color="primary">Connect with Stripe</a>
        <a *ngIf="this.user.stripeAccountId" mat-raised-button (click)="requestPayout()" color="accent">Request Payout</a>
        <a *ngIf="this.user.stripeAccountId" mat-raised-button (click)="viewStripeTransfers()" color="white">Manage Stripe Account</a>
        <a *ngIf="this.user.stripeAccountId" mat-raised-button (click)="unlinkStripe()" color="warn">Unlink Stripe Account</a>
      </div>
      </mat-card-content>
    </mat-tab>

    <mat-tab label="Account Services">
      <mat-card-content class="mt-1">
        <p>Manage your social accounts and preferences here...</p>
        <div class="button-row">
          <a *ngIf="this.user.spotify !== null && this.user.spotify !== undefined" mat-raised-button (click)="unlinkSpotify()" color="primary">Unlink Spotify</a>
          <!-- <a *ngIf="this.user.spotify === null && this.user.spotify === undefined"  mat-raised-button (click)="callbackTest()" color="primary">Link Spotify</a> -->
          
          <a mat-raised-button (click)="callbackTest()" color="primary">Unlink SoundCloud</a>          
          <a mat-raised-button (click)="callbackTest()" color="primary">Link SoundCloud</a>
      </div>
      </mat-card-content>
    </mat-tab>

  </mat-tab-group>
</mat-card>