<mat-card class="p-0">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Edit Account">
      <mat-card-content class="mt-1">
        <form (ngSubmit)="onEditProfile()" #r="ngForm" method="post" class="editProfile">
          <mat-form-field class="full-width">
              <input
              matInput
              name="name"
              placeholder="Name"
              [(ngModel)]="this.user.firstName"
              >
            </mat-form-field>
            <mat-form-field class="full-width">
                <input
                matInput
                name="title"
                placeholder="Title"
                [(ngModel)]="this.user.lastName"
                >
              </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="email"
              placeholder="Email"
              [(ngModel)]="this.user.email">
            </mat-form-field>
            <button mat-raised-button color="primary">Save</button>
          </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Profile Picture">
      <mat-card-content>
        <div class="mb-1 mt-1">
          <p>Upload a profile picture</p>
          <input type="file" (change)="onChange($event)" accept=".jpg,.png"/>
          <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
        </div>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Payout Methods">
      <mat-card-content class="mt-1">
        <p>If you plan on performing at an event you'll need to setup a payout method.</p>
        <div class="button-row">
        <a [disabled]="this.user.stripeAccountId" mat-raised-button href="https://connect.stripe.com/express/oauth/authorize?response_type=code&client_id=ca_CE9KYxkI16Id3WqO6ypCkgnZsEqzLtWY&scope=read_write" color="primary">Connect with Stripe</a>
        <a *ngIf="this.user.stripeAccountId" mat-raised-button (click)="unlinkStripe()" color="white">Manage Stripe Account</a>
        <a *ngIf="this.user.stripeAccountId" mat-raised-button (click)="unlinkStripe()" color="warn">Unlink Stripe Account</a>
      </div>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
