<div class="container-login100" style="background-image: url('../../../assets/images/bg-01.jpg');">
  <div>
    <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
    <mat-card class="wrap-login100 p-l-30 p-r-30 p-t-30 p-b-30">
      <mat-card-content>



        <div *ngIf="!this.magicLinkButtonClicked">
          <div>
            <mat-slide-toggle class="text-muted" color="accent" [(ngModel)]="isDemoModeChecked" (ngModelChange)="toggleDemoMode()">
              Disable 2FA
            </mat-slide-toggle>
          </div>
          <form [formGroup]="signinForm" (ngSubmit)="signin()" #captchaProtectedForm="ngForm" class="login100-form">
            <div class="">

              <!-- <div class="text-center login100-form-title p-t-27 p-b-10">
                      localBeats
                  </div> -->

              <div class="text-center p-t-57 p-b-20">
                <span class="txt1">
                  Two-Factor Authentication System
                </span>
              </div>

              <!-- Email field -->
              <!-- <mat-form-field class="wrap-input100 validate-input m-b-20"> -->
              <div class="wrap-input100 validate-input m-b-30">
                <input class="input100" matInput name="username" email="true" [formControl]="signinForm.controls['username']" placeholder="Email">
                <span class="focus-input100"></span>
              </div>
              <!-- </mat-form-field> -->
              <small *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched" 
              class="text-center p-l-10 m-b-5 form-error-msg">
                Email is required </small>
            </div>

            <div class="wrap-input100 validate-input m-b-30">
                <input class="input100" type="password" name="password" matInput [formControl]="signinForm.controls['password']" placeholder="Password">
                <span class="focus-input100"></span>
              <small 
                *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" 
                class="text-center p-l-10 m-b-5 form-error-msg"> Password is required </small>
            </div>

            <!-- Sign in button -->
            <div class="container-login100-form-btn">
              <re-captcha size="invisible" #invisible (resolved)="cpatchaResolved($event)" siteKey="6LeFK1IUAAAAAEakef3Qt8YiYVi45hMZJd_eiWSG"></re-captcha>
              <button *ngIf="isDemoModeChecked === false" class="login100-form-btn" [disabled]="signinForm.invalid" (click)="invisible.execute()">
                Send me a magic link!
              </button>
              <button *ngIf="isDemoModeChecked" class="login100-form-btn" [disabled]="signinForm.invalid" (click)="invisible.execute()">
                  Skip magic and sign in
              </button>
              <small *ngIf="error" class="text-center p-l-10 m-t-30 m-b-20 form-error-msg">{{errorMessage}}</small>
            </div>

            <div class="text-center p-t-57 p-b-20">
              <span class="txt1">
                Or login with
              </span>
            </div>


          </form>

          <!-- Google Login -->
          <div class="flex-c p-b-72">
            <button (click)="socialSignIn('google')" class="login100-social-item" style="color:Tomato">
              <i class="fa fa-google"></i>
            </button>
          </div>

          <!-- Create an account -->
          <div class="text-center">
            <a routerLink="/auth/register" class="txt2 hov1">
              Sign Up
            </a>
          </div>

        </div>
        <div *ngIf="this.magicLinkButtonClicked && !error">
          <!-- <p class="text-center text-muted m-0"> -->
            <strong>⚠️ Do NOT close this window</strong><br><br>
            A magic link has been sent to:
            <br><strong>{{this.user.email}}</strong>
            <br>
            <br> Please click the link in it to <strong>continue</strong> your session in <strong>this</strong> window.
            <br>
            <br>(Note: It may take a couple of minutes to receive the email.)
          <!-- </p> -->
        </div>

        <div *ngIf="this.magicLinkButtonClicked && error">
            <p class="text-center text-muted m-0" style="color: Tomato">
                🛑 Something went wrong:<br><br>{{errorMessage}}
            </p>
          </div>

        <div *ngIf="isDemoModeChecked">
          <br>
          <p class="text-center text-muted m-0">
            <strong>⚠️ Disclaimer:</strong> The magic link will be skipped in demo mode to log user with traditional authentication
            in. <br><strong>Will not be included in real-world deployment.</strong></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>