<mat-card class="p-0">
  <mat-tab-group>

    <!-- my events -->
    <mat-tab label="Events I'm Hosting">
      <mat-card *ngFor="let event of this.events; let i = index" class="example-card">
        <mat-card class="p-0">
          <mat-tab-group>
            <mat-tab label="Event Details">


              <mat-card layout="row" layout-xs="column">
                <mat-card-header>
                  <!-- <div mat-card-avatar  [src]="event.eventPicUrl" style="background-size: cover;"></div> -->

                  <mat-card-title>Event name: {{ event.eventName }}</mat-card-title>
                  <mat-card-subtitle>Event type: {{event.eventType}}</mat-card-subtitle> 
                  <mat-card-subtitle>Event price: {{event.fixedPrice}}</mat-card-subtitle>
                     
                </mat-card-header>
                <img mat-card-image [src]="event.eventPicUrl" style="
                max-width:128px;
                max-height:128px;
                width:auto;
                height:auto;">
                <mat-card-content>
                  <p>
                    {{event.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button *ngIf="event.hostUser._id == this.user._id" (click)="onEditEvent(event, i)" mat-button>Edit</button>
                  <button *ngIf="event.hostUser._id == this.user._id" (click)="onDeleteEvent(event, i)" mat-button>Delete</button>
                  <button *ngIf="event.hostUser._id == this.user._id" (click)="onViewEvent(event)" mat-button>View Event</button>

                </mat-card-actions>
              </mat-card>
            </mat-tab>
            <mat-tab label="Applicants">

            </mat-tab>
            <mat-tab label="Approved Musicians">

            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </mat-card>
    </mat-tab>


    <mat-tab label="Events that Have Requested You">
      <mat-card *ngFor="let booking of this.requestedArtistBookings; let i = index" class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Event name: {{ booking.eventEID.eventName }}</mat-card-title>
          <mat-card-subtitle>Event type: {{booking.eventEID.eventType}}</mat-card-subtitle>
          <mat-card-subtitle>Event price: {{booking.eventEID.fixedPrice}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="booking.eventEID.eventPicUrl" style="
        max-width:128px;
        max-height:128px;
        width:auto;
        height:auto;">        
        <mat-card-content>
          <p>
            The event is on {{booking.eventEID.toDate}}
          </p>
        </mat-card-content>
        <mat-card-actions>

          <button *ngIf="isCurrentUser && userService.isAuthenticated() && !requestedArtistBookings[i].approved" (click)="onAcceptArtist(booking, i)"
            mat-button>Accept </button>

          <button *ngIf="!isCurrentUser  && userService.isAuthenticated() && !requestedArtistBookings[i].approved" (click)="onDeclineArtist(booking, i)"
            mat-button>Reject</button>

          <button *ngIf="!isCurrentUser  && userService.isAuthenticated() && requestedArtistBookings[i].approved" (click)="onDeclineArtist(booking, i)"
            mat-button>Cancel Performance</button>

        </mat-card-actions>
      </mat-card>
    </mat-tab>


    <mat-tab label="Events I've Applied For">
      <mat-card *ngFor="let booking of this.appliedBookings; let i = index" class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Event name: {{ booking.eventEID.eventName }}</mat-card-title>
          <mat-card-subtitle>Event type: {{booking.eventEID.eventType}}</mat-card-subtitle>
          <mat-card-subtitle>Event price: {{booking.eventEID.fixedPrice}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="booking.eventEID.eventPicUrl" style="
        max-width:128px;
        max-height:128px;
        width:auto;
        height:auto;"> 
                <mat-card-content>
          <p>
            The event is on {{booking.eventEID.toDate}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="!isCurrentUser  && userService.isAuthenticated() && hasApplied " (click)="onCancelApp(booking)" mat-button>Cancel Application</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>