<mat-card class="p-0">
  <mat-card-title class="mat-bg-primary m-0">
      <div class="card-title-text">
        <span>My Hosted Events</span>
      </div>
  </mat-card-title>
  <mat-card *ngIf="events.length == 0" class="example-card no-shadow">
      <mat-card-title>You have not hosted any events.</mat-card-title>
    </mat-card>
  <div *ngFor="let item of this.events; let j = index" class="example-card">
    <mat-card class="p-0">
      <mat-tab-group (selectedTabChange)="resetConfirmations($event, j)">
        <mat-tab label="Details">
          <mat-card class="no-shadow">
            <mat-card-header>
              <img mat-card-avatar [src]="item.event.eventPicUrl">
              <mat-card-title><a [routerLink]="['/events', item.event._id]">{{item.event.eventName}}</a></mat-card-title>
              <mat-card-subtitle>{{item.event.eventType | capitalize}}</mat-card-subtitle>
              <mat-card-subtitle>{{item.event.toDate | date:'MMM d, y, h:mm a'}}</mat-card-subtitle>
              <mat-card-subtitle *ngIf="item.event.negotiable">{{item.event.fixedPrice | currency}} (Negotiable)</mat-card-subtitle>
              <mat-card-subtitle *ngIf="!item.event.negotiable">{{item.event.fixedPrice | currency}} (Non-Negotiable)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="item.event.hostUser._id == this.user._id" (click)="onEditEvent(item.event, i)" mat-raised-button color="primary">Edit</button>
              <button *ngIf="item.event.hostUser._id == this.user._id" (click)="onDeleteEvent(item.event, i)" mat-raised-button color="accent">Delete</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              Applicants <span *ngIf="item.applicationNotifications > 0" class="notification-value mat-bg-warn">{{item.applicationNotifications}}</span>
          </ng-template>
          <mat-card *ngIf="item.applications.length == 0" class="example-card no-shadow">
            <mat-card-title>You have no applicants.</mat-card-title>
          </mat-card>
          <mat-card *ngFor="let application of item.applications; let i = index" class="example-card no-shadow">
            <mat-card-header>
              <img mat-card-avatar [src]="application.performerUser.profilePicUrl">
              <mat-card-title><a [routerLink]="['/profile', application.performerUser._id]">{{application.performerUser.firstName}} {{application.performerUser.lastName}} </a><mat-icon *ngIf="application.artistApproved">music_note</mat-icon></mat-card-title>
              <mat-card-subtitle>{{application.currentPrice | currency}}</mat-card-subtitle>
              <mat-card-subtitle>{{application.hostStatusMessage}}</mat-card-subtitle>
              <mat-card-subtitle>{{application.artistComment}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="openNegotiationDialog(application, i, j)" mat-raised-button color="primary">View Application</button>
              <button (click)="messageArtist(application)" mat-raised-button color="accent">Message Artist</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              Requests <span *ngIf="item.requestNotifications > 0" class="notification-value mat-bg-warn">{{item.requestNotifications}}</span>
          </ng-template>
          <mat-card *ngIf="item.requests.length == 0" class="example-card no-shadow">
            <mat-card-title>You have not requested any artists.</mat-card-title>
          </mat-card>
          <mat-card *ngFor="let request of item.requests; let i = index" class="example-card no-shadow">
            <mat-card-header>
              <img mat-card-avatar [src]="request.performerUser.profilePicUrl">
              <mat-card-title><a [routerLink]="['/profile', request.performerUser._id]">{{request.performerUser.firstName}} {{request.performerUser.lastName}} </a><mat-icon *ngIf="request.artistApproved">music_note</mat-icon></mat-card-title>
              <mat-card-subtitle>{{request.currentPrice | currency}}</mat-card-subtitle>
              <mat-card-subtitle>{{request.hostStatusMessage}}</mat-card-subtitle>
              <mat-card-subtitle>{{request.artistComment}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="openNegotiationDialog(request, i, j)" mat-raised-button color="primary">View Request</button>
              <button (click)="messageArtist(request)" mat-raised-button color="accent">Message Artist</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Bookings <span *ngIf="item.confirmationNotifications > 0" class="notification-value mat-bg-warn">{{item.confirmationNotifications}}</span>
          </ng-template>
          <mat-card *ngIf="item.confirmations.length == 0" class="example-card no-shadow">
            <mat-card-title>You have no musicians booked.</mat-card-title>
          </mat-card>
          <mat-card *ngFor="let booking of item.confirmations; let i = index" class="example-card no-shadow">
            <mat-card-header>
              <img mat-card-avatar [src]="booking.performerUser.profilePicUrl">
              <mat-card-title><a [routerLink]="['/profile', booking.performerUser._id]">{{booking.performerUser.firstName}} {{booking.performerUser.lastName}}</a></mat-card-title>
              <mat-card-subtitle>{{booking.currentPrice | currency}}</mat-card-subtitle>
              <mat-card-subtitle>{{booking.hostStatusMessage}}</mat-card-subtitle>
              <mat-card-subtitle>{{booking.artistComment}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="!booking.completed" [disabled]="booking.hostVerified" (click)="openNegotiationDialog(booking, i, j)" mat-raised-button color="primary">Cancel Booking</button>
              <button (click)="messageArtist(booking)" mat-raised-button color="accent">Message Artist</button>
              <button *ngIf="!booking.completed" [disabled]="booking.hostVerified" (click)="hostVerify(booking, i, j)" mat-raised-button color="accent">Artist Verification and Payment</button>
              <button *ngIf="booking.completed && item.paymentStatues[i] != 'waiting'" (click)="showPaymentHistoryDialog(booking)" mat-raised-button color="accent">View Payment History</button>
              <!-- If the booking hasn't been paid or canceled then allow for a payment to be sent -->
              <button *ngIf="booking.completed && item.paymentStatues[i] != 'paid' && (item.paymentStatues[i] != 'host_cancel' && item.paymentStatues[i] != 'artist_cancel')" 
              (click)="showPayDialog(booking)" mat-raised-button color="primary">Pay Artist {{booking.currentPrice | currency}}</button>
              <!-- Allow host to review user. -->
              <button *ngIf="booking.completed && item.paymentStatues[i] != 'waiting' && !booking.beenReviewedByHost" 
              (click)="reviewDialog(booking) " mat-raised-button color="accent">Review {{ booking.performerUser.firstName }}</button>

              <!-- Allow host to edit review on user. -->
              <button *ngIf="booking.completed && item.paymentStatues[i] != 'waiting' && booking.beenReviewedByHost && !booking.bothReviewed" 
              (click)="editReview(booking) " mat-raised-button color="accent">Edit Review about {{ booking.performerUser.firstName }}</button>


              <button [disabled]="this.canPay" *ngIf="booking.completed && item.paymentStatues[i] != 'paid' && (item.paymentStatues[i] != 'host_cancel' && item.paymentStatues[i] != 'artist_cancel')" (click)="showPayDialog(booking)" mat-raised-button color="primary">Pay Artist {{booking.currentPrice | currency}}</button>
              <!-- If the booking has been paid show a paid chip -->
              <mat-chip *ngIf="booking.completed && item.paymentStatues[i] == 'paid'" color="primary" selected="true">Paid</mat-chip>
              <!-- If the booking has been refunded show a refunded chip -->
              <mat-chip *ngIf="booking.completed && item.paymentStatues[i] == 'refund'" color ="accent" selected="true">Refunded</mat-chip>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Cancellations <span *ngIf="item.cancellationNotifications > 0" class="notification-value mat-bg-warn">{{item.cancellationNotifications}}</span>
          </ng-template>
          <mat-card *ngIf="item.cancellations.length == 0" class="example-card no-shadow">
            <mat-card-title>You have no cancelled bookings.</mat-card-title>
          </mat-card>
          <mat-card *ngFor="let booking of item.cancellations; let i = index" class="example-card no-shadow">
            <mat-card-header>
              <img mat-card-avatar [src]="booking.performerUser.profilePicUrl">
              <mat-card-title><a [routerLink]="['/profile', booking.performerUser._id]">{{booking.performerUser.firstName}} {{booking.performerUser.lastName}}</a></mat-card-title>
              <mat-card-subtitle>{{booking.currentPrice | currency}}</mat-card-subtitle>
              <mat-card-subtitle>{{booking.hostStatusMessage}}</mat-card-subtitle>
              <mat-card-subtitle>{{booking.artistComment}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</mat-card>