<mat-card class="p-0">
    <mat-tab-group>
      <mat-tab label="Events I'm Hosting">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Event 1</mat-card-title>
                <mat-card-subtitle>Birthday party</mat-card-subtitle>
              </mat-card-header>
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="50px" heaight="50px"alt="Photo of a Shiba Inu"> -->
              <mat-card-content>
                <p>
                  On December 21 2018, pays 500 dollars
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Accept </button>
                <button mat-button>Reject</button>
              </mat-card-actions>
            </mat-card>
      </mat-tab>
      <mat-tab label="Events I've Applied For">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Event 1</mat-card-title>
                <mat-card-subtitle>Birthday party</mat-card-subtitle>
              </mat-card-header>
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="50px" heaight="50px"alt="Photo of a Shiba Inu"> -->
              <mat-card-content>
                <p>
                  On December 21 2018, pays 500 dollars
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Accept </button>
                <button mat-button>Reject</button>
              </mat-card-actions>
            </mat-card>
      </mat-tab>
      <mat-tab label="Events that Have Requested You">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Event 1</mat-card-title>
                <mat-card-subtitle>Birthday party</mat-card-subtitle>
              </mat-card-header>
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="50px" heaight="50px"alt="Photo of a Shiba Inu"> -->
              <mat-card-content>
                <p>
                  On December 21 2018, pays 500 dollars
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Accept </button>
                <button mat-button>Reject</button>
              </mat-card-actions>
            </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card>