<mat-list>
    <h3 mat-subheader>Payments</h3>
    <mat-list-item *ngFor="let payment of data.payments">
      <mat-icon mat-list-icon>payment</mat-icon>
      <h4 *ngIf="payment.type == 'charge' && payment.performerUser._id == data.userID" mat-line>{{payment.hostUser.firstName}} {{payment.hostUser.lastName}} paid you {{payment.amount | currency}}.</h4>
      <h4 *ngIf="payment.type == 'charge' && payment.hostUser._id == data.userID" mat-line>You paid {{payment.performerUser.firstName}} {{payment.performerUser.lastName}} {{payment.amount | currency}}.</h4>
      <h4 *ngIf="payment.type == 'refund' && payment.hostUser._id == data.userID" mat-line>{{payment.performerUser.firstName}} {{payment.performerUser.lastName}} refunded you {{payment.amount | currency}}.</h4>
      <h4 *ngIf="payment.type == 'refund' && payment.performerUser._id == data.userID" mat-line>You refunded {{payment.hostUser.firstName}} {{payment.hostUser.lastName}} {{payment.amount | currency}}.</h4>
      <h4 *ngIf="payment.type == 'artist_cancel' && payment.hostUser._id == data.userID" mat-line>{{payment.performerUser.firstName}} {{payment.performerUser.lastName}} paid you a cancellation fee of {{payment.amount | currency}}.</h4>
      <h4 *ngIf="payment.type == 'artist_cancel' && payment.performerUser._id == data.userID" mat-line>You paid {{payment.hostUser.firstName}} {{payment.hostUser.lastName}} a cancellation fee of {{payment.amount | currency}}.</h4>
      <h4 *ngIf="payment.type == 'host_cancel' && payment.performerUser._id == data.userID" mat-line>{{payment.hostUser.firstName}} {{payment.hostUser.lastName}} paid you a cancellation fee of {{payment.amount | currency}}.</h4> 
      <h4 *ngIf="payment.type == 'host_cancel' && payment.hostUser._id == data.userID" mat-line>You paid {{payment.performerUser.firstName}} {{payment.performerUser.lastName}} a cancellation fee of {{payment.amount | currency}}.</h4>
      <p mat-line> {{payment.date | date}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>