a {
  color: #247ba0;
}

a:hover {
  color: #ffd97d;
}
  
  mat-card-avatar img {
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    width: 100px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100px;
    padding-top: 0.35cm;
    padding-left: 0.75cm;
  }

  mat-card-title mat-icon {
    margin: 0;
    padding: 0;
    position: relative;
    color: #F44336 !important;
  }
  
  .notification-value {
    position: relative;
    top: 0;
    left: 5%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
  }