<mat-card class="p-0">
  <mat-card-title class="mat-bg-primary m-0">
    <div class="card-title-text">
      <span>My Performances</span>
    </div>
  </mat-card-title>
  <mat-tab-group (selectedTabChange)="resetConfirmations($event)">
    <mat-tab>
      <ng-template mat-tab-label>
          Applications <span *ngIf="performances.applicationNotifications > 0" class="notification-value mat-bg-warn">{{performances.applicationNotifications}}</span>
      </ng-template>
      <mat-card *ngIf="performances.applications.length == 0" class="example-card no-shadow">
        <mat-card-title>You have no active performance applications.</mat-card-title>
      </mat-card>
      <mat-card *ngFor="let application of performances.applications; let i = index" class="example-card">
        <mat-card-header>
          <img mat-card-avatar [src]="application.eventEID.eventPicUrl">
          <mat-card-title><a [routerLink]="['/events', application.eventEID._id]">{{application.eventEID.eventName}} </a><mat-icon *ngIf="application.hostApproved">music_note</mat-icon></mat-card-title>
          <mat-card-subtitle>{{application.eventEID.eventType | capitalize}}</mat-card-subtitle>
          <mat-card-subtitle>{{application.eventEID.toDate | date:'MMM d, y, h:mm a'}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="application.eventEID.negotiable">{{application.currentPrice | currency}} (Negotiable)</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!application.eventEID.negotiable">{{application.currentPrice | currency}} (Non-Negotiable)</mat-card-subtitle>
          <mat-card-subtitle>{{application.artistStatusMessage}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="openNegotiationDialog(application, i)" mat-raised-button color="primary">View Application</button>
            <button (click)="messageHost(application)" mat-raised-button color="accent">Message Host</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
          Requests <span *ngIf="performances.requestNotifications > 0" class="notification-value mat-bg-warn">{{performances.requestNotifications}}</span>
      </ng-template>
      <mat-card *ngIf="performances.requests.length == 0" class="example-card no-shadow">
        <mat-card-title>You have no requested performances.</mat-card-title>
      </mat-card>
      <mat-card *ngFor="let request of performances.requests; let i = index" class="example-card no-shadow">
        <mat-card-header>
          <img mat-card-avatar [src]="request.eventEID.eventPicUrl">
          <mat-card-title><a [routerLink]="['/events', request.eventEID._id]">{{request.eventEID.eventName}} </a><mat-icon *ngIf="request.hostApproved">music_note</mat-icon></mat-card-title>
          <mat-card-subtitle>{{request.eventEID.eventType | capitalize}}</mat-card-subtitle>
          <mat-card-subtitle>{{request.eventEID.toDate | date:'MMM d, y, h:mm a'}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="request.eventEID.negotiable">{{request.currentPrice | currency}} (Negotiable)</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!request.eventEID.negotiable">{{request.currentPrice | currency}} (Non-Negotiable)</mat-card-subtitle>
          <mat-card-subtitle>{{request.artistStatusMessage}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="openNegotiationDialog(request, i)" mat-raised-button color="primary">View Request</button>
          <button (click)="messageHost(request)" mat-raised-button color="accent">Message Host</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Current Bookings <span *ngIf="performances.confirmationNotifications > 0" class="notification-value mat-bg-warn">{{performances.confirmationNotifications}}</span>
      </ng-template>
      <mat-card *ngIf="performances.confirmations.length == 0" class="example-card no-shadow">
        <mat-card-title>You have not booked any performances.</mat-card-title>
      </mat-card>
      <mat-card *ngFor="let booking of performances.confirmations; let i = index" class="example-card no-shadow">
        <mat-card-header>
          <img mat-card-avatar [src]="booking.eventEID.eventPicUrl">
          <mat-card-title><a [routerLink]="['/events', booking.eventEID._id]">{{booking.eventEID.eventName}}</a></mat-card-title>
          <mat-card-subtitle>{{booking.eventEID.eventType | capitalize}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.eventEID.toDate | date:'MMM d, y, h:mm a'}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.currentPrice | currency}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.artistStatusMessage}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="booking.artistVerified" (click)="openNegotiationDialog(booking, i)" mat-raised-button color="primary">Cancel Booking</button>
          <button (click)="messageHost(booking)" mat-raised-button color="accent">Message Host</button>
          <button *ngIf="!booking.completed" [disabled]="booking.artistVerified" (click)="artistVerify(booking, i)" mat-raised-button color="accent">Verify Host</button>
          <button *ngIf="performances.paymentStatues[i] == 'waiting'" (click)="openNegotiationDialog(booking, i)" mat-raised-button color="primary">Cancel Booking</button>
          <button (click)="messageHost(booking)" mat-raised-button color="accent">Message Host</button>
          <button *ngIf="performances.paymentStatues[i] == 'paid' && (performances.paymentStatues[i] != 'artist_cancel' && performances.paymentStatues[i] != 'host_cancel')" (click)="showRefundDialog(booking)" mat-raised-button color="accent">Refund Host {{booking.currentPrice | currency}}</button>
          <button *ngIf="performances.paymentStatues[i] != 'waiting'" (click)="showPaymentHistoryDialog(booking)" mat-raised-button color="accent">View Payment History</button>
          <mat-chip *ngIf="performances.paymentStatues[i] == 'paid'" color="primary" selected="true">Paid</mat-chip>
          <mat-chip *ngIf="performances.paymentStatues[i] == 'waiting'" color ="accent" selected="true">Unpaid</mat-chip>
          <mat-chip *ngIf="performances.paymentStatues[i] == 'refund'" color ="accent" selected="true">Refunded</mat-chip>
          <mat-chip *ngIf="performances.paymentStatues[i] == 'host_cancel' || performances.paymentStatues[i] == 'artist_cancel'" color ="accent" selected="true">Canceled</mat-chip>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Completed <span *ngIf="performances.completedNotifications > 0" class="notification-value mat-bg-warn">{{performances.completedNotifications}}</span>
      </ng-template>
      <mat-card *ngIf="performances.completed.length == 0" class="example-card no-shadow">
        <mat-card-title>You have not completed any performances.</mat-card-title>
      </mat-card>
      <mat-card *ngFor="let booking of performances.completed; let i = index" class="example-card no-shadow">
        <mat-card-header>
          <img mat-card-avatar [src]="booking.eventEID.eventPicUrl">
          <mat-card-title><a [routerLink]="['/events', booking.eventEID._id]">{{booking.eventEID.eventName}}</a></mat-card-title>
          <mat-card-subtitle>{{booking.eventEID.eventType | capitalize}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.eventEID.toDate | date:'MMM d, y, h:mm a'}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.currentPrice | currency}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.artistStatusMessage}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Cancellations <span *ngIf="performances.cancellationNotifications > 0" class="notification-value mat-bg-warn">{{performances.cancellationNotifications}}</span>
      </ng-template>
      <mat-card *ngIf="performances.cancellations.length == 0" class="example-card no-shadow">
        <mat-card-title>You don't have any cancelled performances.</mat-card-title>
      </mat-card>
      <mat-card *ngFor="let booking of performances.cancellations; let i = index" class="example-card no-shadow">
        <mat-card-header>
          <img mat-card-avatar [src]="booking.eventEID.eventPicUrl">
          <mat-card-title><a [routerLink]="['/events', booking.eventEID._id]">{{booking.eventEID.eventName}}</a></mat-card-title>
          <mat-card-subtitle>{{booking.eventEID.eventType | capitalize}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.eventEID.toDate | date:'MMM d, y, h:mm a'}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.currentPrice | currency}}</mat-card-subtitle>
          <mat-card-subtitle>{{booking.artistStatusMessage}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>