<mat-card class="p-0">
  <mat-tab-group>

    <!-- my events -->
    


    <mat-tab label="Requested Events">
      <mat-card *ngFor="let booking of this.requestedArtistBookings; let i = index" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Event name: {{ booking.eventEID.eventName }}</mat-card-title>
          <mat-card-subtitle>Event type: {{booking.eventEID.eventType}}</mat-card-subtitle>
          <mat-card-subtitle>Negotiated price: {{booking.currentPrice}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="50px" heaight="50px"alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
              The event is on {{booking.eventEID.toDate}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="openNegotiationDialog(booking, 'artist')" mat-button>View Request</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>


    <mat-tab label="Applied Events">
      <mat-card *ngFor="let booking of this.appliedBookings; let i = index" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Event name: {{ booking.eventEID.eventName }}</mat-card-title>
          <mat-card-subtitle>Event type: {{booking.eventEID.eventType}}</mat-card-subtitle>
          <mat-card-subtitle>Negotiated price: {{booking.currentPrice}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="50px" heaight="50px"alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
              The event is on {{booking.eventEID.toDate}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="openNegotiationDialog(booking, 'artist')" mat-button>View Application</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Booked Events">
        <mat-card *ngFor="let booking of this.confirmedBookings; let i = index" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Event name: {{ booking.eventEID.eventName }}</mat-card-title>
            <mat-card-subtitle>Event type: {{booking.eventEID.eventType}}</mat-card-subtitle>
            <mat-card-subtitle>Event price: {{booking.currentPrice}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="50px" heaight="50px"alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <p>
                The event is on {{booking.eventEID.toDate}}
              </p>
          </mat-card-content>
          <mat-card-actions>
              <!-- <button *ngIf="!isCurrentUser  && userService.isAuthenticated() && requestedArtistBookings[i].approved" 
              (click)="onDeclineArtist(booking, i)"mat-button>Cancel Performance</button> -->
              <button (click)="openNegotiationDialog(booking, 'artist')" mat-button>Cancel Booking</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
  </mat-tab-group>
</mat-card>