<!-- Wrapper -->
<!-- <div id="wrapper"> -->

<!-- Dashboard -->
<!-- <div id="dashboard"> -->

<!-- Content
	================================================== -->
<div class="dashboard-content">
  <div class="row">
    <div class="col-lg-10">
      <form (ngSubmit)="onCreateEvent(r)" #r="ngForm" method="post" class="createEvent" id="eventForm">
        <div id="add-listing">
          <!-- Section -->
          <div class="add-listing-section">

            <!-- Headline -->
            <div class="add-listing-headline">
              <h3>
                <i class="sl sl-icon-doc"></i> Event Information</h3>
            </div>

            <!-- Title -->
            <div class="row with-forms">
              <div class="col-md-5">
                <h5>Event Title
                  <!-- <i class="tip" data-tip-content="Name of your event"></i> -->
                </h5>
                <!-- <input class="search-field" type="text" value="" style="width: 500px;"/> -->
                <!-- [(ngModel)]="model.eventName" -->
                <input [(ngModel)]="model.eventName" class="search-field" name="eventName" type="text" placeholder="Event Title" />
              </div>

              <div class="col-md-4">
                <h5>Event Type</h5>
                <select ng-model="model.eventType" [(ngModel)]="model.eventType" name="eventType" style="width: 500px;" class="chosen-select-no-single">
                  <option value="Choose Event Type Here" selected disabled hidden>Choose Event here</option>
                  <option value="Wedding">Wedding</option>
                  <option value="Live Music">Live Music</option>
                  <option value="Birthday">Birthday</option>
                  <option value="Business">Business</option>
                  <option value="Party">Party</option>
                  <option value="Festival">Festival</option>
                </select>
              </div>

              <div class="col-md-3">
                <h5>Music Genre</h5>
                <select ng-model="model.eventGenre" [(ngModel)]="model.eventGenre" name="eventGenre" style="width: 500px;" class="chosen-select-no-single">
                  <option value="choose genre here" selected disabled hidden>Choose Genre Here</option>
                  <option value="electronic">Electronic</option>
                  <option value="rock">Rock</option>
                  <option value="classical">Classical</option>
                  <option value="jazz">Jazz</option>
                  <option value="blues">Blues</option>
                  <option value="hip-hop">Hip-Hop</option>
                  <option value="rap">Rap</option>
                  <option value="alternative">Alternative</option>
                  <option value="coutnry">Country</option>

                </select>
              </div>
            </div>
            <!-- Row / End -->

            <!-- Row  -->
            <div class="row with-forms">
              <div class="col-md-12">
                <div class="form">
                  <h5>Description</h5>
                  <textarea [(ngModel)]="model.description" name="description" class="WYSIWYG" form="eventForm" cols="40" rows="3" spellcheck="true"
                    placeholder="Describe your event here..."></textarea>
                </div>
              </div>
            </div>
            <!-- Row / End -->
            <!-- end row  -->

            <div class="row with-forms">

              <div class="col-md-4">
                <div class="fm-input pricing-price">
                  <input [(ngModel)]="model.fixedPrice" name="fixedPrice" type="text" placeholder="Price" data-unit="USD" />
                </div>
              </div>
              </div>
              <div class="row with-forms">
              <div class="col-md-4">
                <div class="col-md-5">
                  <h5>Select date: (mm/dd/yy)</h5>
                </div>
                <mat-form-field>
                  <input name="date" [(ngModel)]="this.model.fromDate" matInput [matDatepicker]="dp2">
                  <mat-datepicker-toggle matSuffix [for]="dp2" disabled></mat-datepicker-toggle>
                  <mat-datepicker #dp2></mat-datepicker>
                </mat-form-field>
                <!-- <mat-form-field class="example-full-width">
                      <input name="date" [(ngModel)]="selectedDate" matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi="true" #picker></mat-datepicker>
                    </mat-form-field> -->
              </div>
            </div>
          </div>
          <!-- Section / End -->

          <!-- Section -->
          <div class="add-listing-section margin-top-45">

            <!-- Headline -->
            <div class="add-listing-headline">
              <h3>
                <i class="sl sl-icon-location"></i> Location</h3>
            </div>

            <!-- <div class="submit-section"> -->

            <!-- Row -->
            <div class="row with-forms">

              <!-- Address -->
              <div class="col-md-4">
                <h5>Address</h5>
                <input [(ngModel)]="model.address" name="address" type="text" placeholder="e.g. 123 Recrusion St">
              </div>
              <!-- City -->
              <div class="main-search-input-item location">

              </div>
              <div class="col-md-4">
                <h5>City and State</h5>

                <input [(ngModel)]="model.city" placeholder="Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                  #search [formControl]="searchControl">
              </div>

              <!-- State -->
              <!-- <div class="col-md-2">
                <h5>State</h5>
                <input [(ngModel)]="model.state" name="state"  type="text" placeholder="e.g. Utah">
              </div>

              <div class="col-md-2">
                <h5>Zip-Code</h5>
                <input [(ngModel)]="model.zip" name="zip"  type="text" placeholder="e.g. 12345">
              </div> -->

              <!-- Row / End -->

            </div>
            <!-- Section / End -->
          </div>
          <!-- <div class="col-md-6"> -->
          <input *ngIf="!this.updating" type="submit" class="button border fw margin-top-40" name="createEvent" value="Create Event"
          />
          <input *ngIf="this.updating" type="submit" class="button border fw margin-top-40" name="createEvent" value="Update Event"
          />

          <!-- </div> -->
          <!-- end section -->
        </div>
        <!-- add listing end -->
      </form>
    </div>
  </div>
</div>
<!-- Content / End -->