<mat-card class="p-0">
  <mat-card-title class="mat-bg-primary m-0">
      <div class="card-title-text">
        <span>Event Requests</span>
      </div>
    </mat-card-title>
  <mat-tab-group>
    <!-- my events -->
    <mat-tab label="Events You Can Request This Artist For">
      <mat-card *ngIf="events.length == 0" class="example-card no-shadow">
          <mat-card-title>You have no events which you can request this artist for.</mat-card-title>
      </mat-card>
      <mat-card *ngFor="let event of this.events; let i = index" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{event.eventName}}</mat-card-title>
          <mat-card-subtitle>{{event.eventType}}</mat-card-subtitle>
          <mat-card-subtitle>{{event.fixedPrice}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The event is on {{event.toDate}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="newRequest(event)" mat-button>Request Artist for this Event</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="Events You've Requested This Artist For">
      <mat-card *ngIf="requestedBookings.length == 0" class="example-card no-shadow">
          <mat-card-title>You have not requested this artist for any of your events.</mat-card-title>
      </mat-card>
      <mat-card *ngFor="let result of requestedBookings; let i = index" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{result.eventEID.eventName }}</mat-card-title>
          <mat-card-subtitle>{{result.eventEID.eventType}}</mat-card-subtitle>
          <mat-card-subtitle>{{result.eventEID.fixedPrice}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
              The event is on {{result.eventEID.toDate}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="viewRequest(result)" mat-button>View Request</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>