<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="user-profile-titlebar">
          <div class="user-profile-avatar">
            <img src="../../assets/images/jimsmall.png" alt="">
          </div>
          <div class="user-profile-name">
            <ng-template [ngIf]="this.user">
              <h2>{{ this.user.firstName }} {{ this.user.lastName }} </h2>
            </ng-template>
            <!-- <div class="star-rating" data-rating="5"> -->
            <!-- <div class="rating-counter"><a href="#listing-reviews">(60 reviews)</a></div> -->
            <!-- </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Content
================================================== -->
<div class="container">
  <div class="row sticky-wrapper">


    <!-- Sidebar
    ================================================== -->
    <div class="col-lg-4 col-md-4 margin-top-0">

      <!-- Verified Badge -->
      <div class="verified-badge with-tip" data-tip-content="Account has been verified and belongs to the person or organization represented.">
        <i class="sl sl-icon-user-following"></i> Verified Account
      </div>

      <!-- Contact -->
      <div class="boxed-widget margin-top-30 margin-bottom-50">
        <h3>Contact</h3>
        <ul class="listing-details-sidebar">
          <!-- <li><i class="sl sl-icon-phone"></i>{{ userService.user.phone }}</li> -->
          <!-- <li><i class="fa fa-envelope-o"></i> <a href="#">{{ this.user.email }}</a></li> -->
        </ul>

        <ul class="listing-details-sidebar social-profiles">
          <li>
            <a href="#" class="facebook-profile">
              <i class="fa fa-facebook-square"></i> Facebook</a>
          </li>
          <li>
            <a href="#" class="twitter-profile">
              <i class="fa fa-twitter"></i> Twitter</a>
          </li>
          <!-- <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li> -->
        </ul>



        <!-- <a href="#" (click) = "onSubmit()"><i class="sl sl-icon-envelope-open"></i>Edit Profile</a> -->
        <ng-template [ngIf]="this.user">
          <ng-template [ngIf]="onOwnProfile == true">
            <button class="button" (click)="onEditProfile()">
              Edit profile</button>
          </ng-template>
        </ng-template>
      </div>
      <!-- Contact / End-->

    </div>
    <!-- Sidebar / End -->


    <!-- Content ============================================= -->
    <div class="col-lg-8 col-md-8 padding-left-30">

      <h3 class="margin-top-0 margin-bottom-40">Music Feed</h3>

      <!-- Listings Container -->
      <div class="row">

        <!-- Listing Item -->
        <div class="col-lg-12 col-md-12">
          <div class="listing-item-container list-layout">
            <a href="listings-single-page.html" class="listing-item">

              <!-- Image -->
              <div class="listing-item-image">
                <img src="../../assets/images/spotify.png" alt="spotify">
                <span class="tag">Spotify</span>
              </div>

              <!-- Content -->
              <div class="listing-item-content">
                <div class="listing-badge now-open">Now Open</div>

                <div class="listing-item-inner">
                  <h3>Tom's Restaurant</h3>
                  <span>964 School Street, New York</span>
                  <div class="star-rating" data-rating="3.5">
                    <div class="rating-counter">(12 reviews)</div>
                  </div>
                </div>

                <span class="like-icon"></span>
              </div>
            </a>
          </div>
        </div>
        <!-- Listing Item / End -->

        <!-- Listing Item -->
        <div class="col-lg-12 col-md-12">
          <div class="listing-item-container list-layout">
            <a href="listings-single-page.html" class="listing-item">

              <!-- Image -->
              <div class="listing-item-image">
                <img src="../../assets/images/soundcloud.png" alt="sondc">
                <span class="tag">Hotels</span>
              </div>

              <!-- Content -->
              <div class="listing-item-content">

                <div class="listing-item-inner">
                  <h3>Hotel Govendor</h3>
                  <span>778 Country Street, New York</span>
                  <div class="star-rating" data-rating="2.0">
                    <div class="rating-counter">(17 reviews)</div>
                  </div>
                </div>

                <span class="like-icon"></span>

                <div class="listing-item-details">Starting from $59 per night</div>
              </div>
            </a>
          </div>
        </div>
        <!-- Listing Item / End -->



        <!-- <div class="col-md-12 browse-all-user-listings"> -->
        <!-- <a href="#">Browse All Listings <i class="fa fa-angle-right"></i> </a> -->
        <!-- </div> -->

      </div>
      <!-- Listings Container / End -->

      <app-reviews></app-reviews>




    </div>

  </div>
</div>