<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="user-profile-titlebar">
          <div class="user-profile-avatar">
            <img src="../../assets/images/jimsmall.png" alt="">
          </div>
          <div class="user-profile-name">
            <ng-template [ngIf]="this.user">
              <h2>{{ this.user.firstName }} {{ this.user.lastName }} </h2>
            </ng-template>
            <!-- <div class="star-rating" data-rating="5"> -->
            <!-- <div class="rating-counter"><a href="#listing-reviews">(60 reviews)</a></div> -->
            <!-- </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Content
================================================== -->
<div class="container">
  <div class="row sticky-wrapper">


    <!-- Sidebar
    ================================================== -->
    <div class="col-lg-4 col-md-4 margin-top-0">

      <!-- Verified Badge -->
      <div class="verified-badge with-tip" data-tip-content="Account has been verified and belongs to the person or organization represented.">
        <i class="sl sl-icon-user-following"></i> Verified Account
      </div>

      <!-- Contact -->
      <div class="boxed-widget margin-top-30 margin-bottom-50">
        <h3>Dashboard:</h3>
        <ul class="listing-details-sidebar">
          <!-- <li><i class="sl sl-icon-phone"></i>{{ userService.user.phone }}</li> -->
          <!-- <li><i class="fa fa-envelope-o"></i> <a href="#">{{ this.user.email }}</a></li> -->
        </ul>
        <!-- 
        <ul class="listing-details-sidebar social-profiles">
          <li>
            <a href="#" class="facebook-profile">
              <i class="fa fa-facebook-square"></i> Facebook</a>
          </li>
          <li>
            <a href="#" class="twitter-profile">
              <i class="fa fa-twitter"></i> Twitter</a>
          </li>
        </ul> -->



        <!-- <a href="#" (click) = "onSubmit()"><i class="sl sl-icon-envelope-open"></i>Edit Profile</a> -->
        <ng-template [ngIf]="this.user && userService.isAuthenticated()">

          <ng-template [ngIf]="onOwnProfile == true">
            <ul class="listing-details-sidebar">

              <button class="button book-now fullwidth margin-top-5" (click)="onEditProfile()">
                Edit profile</button>
            </ul>
          </ng-template>

          <ng-template [ngIf]="onOwnProfile != true">
            <ul class="listing-details-sidebar">

              <button class="button book-now fullwidth margin-top-5" (click)="onRequestArtist(this.user._id)">
                Request Artist</button>
            </ul>
          </ng-template>
          <ng-template [ngIf]="requested == true">
            <ul class="listing-details-sidebar">

              <button class="button book-now fullwidth margin-top-5" (click)="onCancelArtist(this.user._id)">
                Cancel Artist</button>
            </ul>
          </ng-template>



        </ng-template>

      </div>
      <!-- Contact / End-->

      <ul class="listing-details-sidebar">
          
                    <h3 class="margin-top-0 margin-bottom-40">Music Feed</h3>
                    <iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf&theme=white" width="375"
                      height="380" frameborder="0" allowtransparency="true"></iframe>
                  </ul>
    </div>
    <!-- Sidebar / End -->


    <!-- Content ============================================= -->
    <div class="col-lg-8 col-md-8 padding-left-30">

      <!-- <h3 class="margin-top-0 margin-bottom-40">Music Feed</h3> -->

      <!-- Listings Container -->
      <!-- <div class="row"> -->

      <!-- Listing Item -->
      <!-- <div class="col-lg-12 col-md-12">
            <iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>  
        </div> -->
      <!-- Listing Item / End -->





      <!-- <div class="col-md-12 browse-all-user-listings"> -->
      <!-- <a href="#">Browse All Listings <i class="fa fa-angle-right"></i> </a> -->
      <!-- </div> -->

      <!-- </div> -->
      <!-- Listings Container / End -->

      <app-reviews></app-reviews>




    </div>

  </div>
</div>