<mat-nav-list class="" role="list">
  <!-- Regular menu items -->
  <div *ngFor="let item of menuItems">
    <!-- if it's not desabled and not a separator and not icon -->
    <mat-list-item
    sideNavAccordion 
    class="sidebar-list-item" 
    role="listitem"
    *ngIf="!item.disabled && (item.name != 'Home' && userService.isAuthenticated()) || item.name == 'Home'"
    [ngClass]="{'has-submenu': item.type === 'dropDown'}"
    routerLinkActive="open">
      <a routerLink="/{{item.state}}" *ngIf="item.type === 'link'">
        <span
        class="menu-item-tooltip" 
        [matTooltip]="item.tooltip" 
        matTooltipPosition="right"></span>
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name | translate}}</span>
      </a>
      <a *ngIf="item.type === 'dropDown'">
        <span
        class="menu-item-tooltip" 
        [matTooltip]="item.tooltip" 
        matTooltipPosition="above"></span>
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name | translate}}</span>
        <span fxFlex></span>
        <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
      </a>
      <a [href]="item.state" *ngIf="item.type === 'extLink'" target="_blank">
        <span
        class="menu-item-tooltip" 
        [matTooltip]="item.tooltip" 
        matTooltipPosition="right"></span>
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name | translate}}</span>
      </a>
      <mat-nav-list class="sub-menu" role="list" *ngIf="item.type === 'dropDown'">
        <mat-list-item 
        routerLinkActive="selected"
        *ngFor="let subItem of item.sub">
          <a routerLink="{{item.state ? '/'+item.state : ''}}/{{subItem.state}}">{{subItem.name | translate}}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-list-item>
  </div>
</mat-nav-list>