<!-- Wrapper -->
<div id="wrapper">

  <!-- Content ================================================== -->
  <div class="container">
    <div class="row sticky-wrapper">
      <div class="col-lg-8 col-md-8 padding-right-30">

        <!-- Titlebar -->
        <div id="titlebar" class="listing-titlebar">
          <div class="listing-titlebar-title">
              <ng-template [ngIf]="model">
            <h2> {{ this.model.eventName }}
              <span class="listing-tag">{{this.model.eventType}}</span>
            </h2>
            </ng-template>
            <span>
              <a class="listing-address">
                <i class="fa fa-map-marker"></i>
                <ng-template [ngIf]="model">
                {{ this.model.address}}, {{ this.model.city }} , {{ this.model.state}}
                </ng-template>
              </a>
            </span>
          </div>
        </div>


        <!-- Overview -->
        <div id="listing-overview" class="listing-section">

          <!-- Description -->
          <h3>Description:</h3>
          <div style="float:left; width:500px; max-width:500px; word-wrap:break-word;">
              <ng-template [ngIf]="model">
            {{ this.model.description }}
            </ng-template>
          </div>
        </div>




      </div>


      <!-- Sidebar ================================================== -->
      <div class="col-lg-4 col-md-4 margin-top-75 sticky">
        <!-- Price listing box: -->
        <div class="verified-badge with-tip" data-tip-content="The amount the event host is offering to pay to the artist who is accepted.">
          <i class="im im-icon-Money-2"></i> 
          <ng-template [ngIf]="model">
          {{this.model.fixedPrice}}
          </ng-template>
        </div>

        <!-- Book Now -->
        <ng-template [ngIf]="isCurrentUser == false">
			<div class="boxed-widget booking-widget margin-top-35">
        
				<h3><i class="fa fa-calendar-check-o "></i> Apply to Event</h3>
				<div class="row with-forms  margin-top-0">

					<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
					<!-- <div class="col-lg-6 col-md-12">
						<input type="text" id="booking-date" data-lang="en" data-large-mode="true" data-large-default="true" data-min-year="2017" data-max-year="2020" data-disabled-days="08/17/2017,08/18/2017">
					</div> -->

					<!-- Time Picker - docs: http://www.vasterad.com/docs/listeo/#!/time_picker -->
					<!-- <div class="col-lg-6 col-md-12">
						<input type="text" id="booking-time" value="9:00 am">
					</div> -->

					<!-- Panel Dropdown -->
					<!-- <div class="col-lg-12">
						<div class="panel-dropdown">
							<a href="#">Guests <span class="qtyTotal" name="qtyTotal">1</span></a>
							<div class="panel-dropdown-content">

								<div class="qtyButtons">
									<div class="qtyTitle">Adults</div>
									<input type="text" name="qtyInput" value="1">
								</div>

								<div class="qtyButtons">
									<div class="qtyTitle">Childrens</div>
									<input type="text" name="qtyInput" value="0">
								</div>

							</div>
						</div>
					</div> -->
					<!-- Panel Dropdown / End -->

				</div>
				
        <!-- progress button animation handled via custom.js -->
        
        <button (click)="applyToEvent()" class="button book-now fullwidth margin-top-5">Book Now</button>
        
      </div>
    </ng-template>
			<!-- Book Now / End -->

        <!-- Event times -->
        <div class="boxed-widget opening-hours margin-top-35">
          <h3>
            <i class="sl sl-icon-clock"></i> Event time:</h3>
          <ul>
            <li>Monday
              <span>9 AM - 5 PM</span>
            </li>
          </ul>
        </div>
        <!-- Event Times End -->


        <!-- Contact --> 
        <div class="boxed-widget margin-top-35">
        <div class="hosted-by-title">
            <ng-template [ngIf]="user">
        <h4>Hosted by {{this.user.firstName }} {{this.user.lastName}}</h4>
        </ng-template>
        <!-- <a href="pages-user-profile.html" class="hosted-by-avatar"><img src="images/dashboard-avatar.jpg" alt=""></a> -->
        </div>
        <h4>Arists that have applied:</h4>
        </div>
        <!-- Contact / End -->
      </div>
      <!-- Sidebar / End -->

    </div>
  </div>

  <!-- Back To Top Button -->
  <!-- <div id="backtotop"><a href="#"></a></div> -->


</div>
<!-- Wrapper / End -->



<!-- </div> -->
<!-- Style Switcher / End -->