<mat-card class="p-0">
  <mat-card-title class="">
    <h2 class="card-title-text">Meet the Team</h2>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          
          <mat-card-title class="mat-bg-primary m-0">
            <div class="card-title-text">
              <div class="">Adam Rosenberg</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>

          <img mat-card-image src="assets/images/adam_profile.jpg" alt="Photo of Adam">

          <mat-card-content>
            <h1><strong>"We have enough features"</strong></h1>
            <mat-list dense class="mb-1">
              <mat-list-item>Email: adam.arosenberg@gmail.com</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary m-0">
            <div class="card-title-text">
              <div class="">Nick Porter</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <img mat-card-image src="assets/images/nick_ash.jpg" alt="Photo of Nick">

          <mat-card-content>
            <h1><strong>"ROBUST backend"</strong></h1>

            <mat-list dense class="mb-1">
              <mat-list-item>Email: porter.nick@utah.edu</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary m-0">
            <div class="card-title-text">
              <div class="">Brandon Koch</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <img mat-card-image src="assets/images/brandon_koch_profile.jpg" alt="Photo of Brandon">
          <mat-card-content>
            <h1><strong>"Let's redo the UI"</strong></h1>
            <mat-list dense class="mb-1">
              <mat-list-item>Email: brandon.gregory.koch@gmail.com</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary m-0">
            <div class="card-title-text">
              <div class="">Snehashish Mishra</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <img mat-card-image src="assets/images/ash_profile.jpg" alt="Photo of Ash">
          <mat-card-content>
            <h1><strong>"Console.log (error.message)"</strong></h1>
            <mat-list dense class="mb-1">
              <mat-list-item>Email: snehashish.mishra@utah.edu</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
</mat-card>