<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
    <div class="container">
      <div class="section-header">
        <h2>My Performances</h2>
      </div>

      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
              Applications <span class="notification-value mat-bg-warn">1</span>
          </ng-template>
          <br>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
            <div fxFlex="33.33">
              <mat-card class="p-0 m-0">
                <img mat-card-image src="assets/images/sq-10.jpg">
                <mat-card-content>
                  <h5><strong><a href="">Event Three</a></strong></h5>
                  <p class="mb-0">Event Date</p>
                  <p class="mt-0 mb-0">Event Location</p>
                  <p class="mt-0 mb-0">Event Price</p>
                  <p class="mt-1">Event Description</p>
                  <mat-chip class="text-center notify-chip mb-05" color="accent" selected="true">New Bid</mat-chip>
                  <mat-divider class="mt-05 mb-1"></mat-divider>
                  <button class="text-muted" mat-icon-button matTooltip="View Application"><mat-icon>event_available</mat-icon></button>
                  <button class="text-muted" mat-icon-button matTooltip="Message Artist"><mat-icon>chat</mat-icon></button>
                  <!-- <button class="text-muted" mat-icon-button matTooltip="Pay Artist"><mat-icon>attach_money</mat-icon></button>
                  <button class="text-muted" mat-icon-button matTooltip="Refund Host"><mat-icon>money_off</mat-icon></button>
                  <button class="text-muted" mat-icon-button matTooltip="Payment History"><mat-icon>history</mat-icon></button>
                  <button class="text-muted" mat-icon-button matTooltip="Review Artist"><mat-icon>star</mat-icon></button> -->
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <div class="text-center home-section-action">
            <button class="load" mat-raised-button mat-lg-button color="accent">Load More</button>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Requests
          </ng-template>
          <section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
            <div class="container">
              <div class="section-header">
                <p>You have no requests at this time</p>
              </div>
            </div>
          </section>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Confirmed
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Completed
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Cancelled
          </ng-template>
        </mat-tab>    
      </mat-tab-group>

    </div>
  </section>
