<!-- Wrapper -->
<div id="wrapper">



	<!-- Dashboard -->
	<div id="dashboard">

		<!-- Content ================================================== -->
		<div class="dashboard-content">

			<div class="row">

				<!-- Profile -->
				<div class="col-lg-6 col-md-12">
					<div class="dashboard-list-box margin-top-0">
						<h4 class="gray">Profile Details</h4>
						<div class="dashboard-list-box-static">

							<!-- Profile picture -->
							<div class="edit-profile-photo">
								<img src="../../assets/images/jimsmall.png" alt="">
								<div class="change-photo-btn">
									<div class="photoUpload">
										<span>
											<i class="fa fa-upload"></i> Upload Photo</span>
										<input type="file" class="upload" />
									</div>
								</div>
							</div>

							<!-- Details -->
							<form (ngSubmit)="onEditProfile(r)" #r="ngForm" method="post" class="editProfile">
								<ng-template [ngIf]="this.user">

									<div class="my-profile">

										<label>First Name</label>
										<input [(ngModel)]="user.firstName" name="firstname" type="text" placeholder="First name" />

										<label>Last Name</label>
										<input [(ngModel)]="user.lastName" name="lastname" type="text" placeholder="Last name" />

										<label>Email</label>
										<input [(ngModel)]="user.email" name="email" type="text" placeholder="Email" />


										<h5>Music Genre</h5>
										<select ng-model="dropDownGenre" [(ngModel)]="dropDownGenre" name="genre" style="width: 500px;" class="chosen-select-no-single">
											<option value="choose genre here" selected disabled hidden>Choose Genre Here</option>
											<option value="electronic">Electronic</option>
											<option value="rock">Rock</option>
											<option value="classical">Classical</option>
											<option value="jazz">Jazz</option>
											<option value="blues">Blues</option>
											<option value="hip-hop">Hip-Hop</option>
											<option value="rap">Rap</option>
											<option value="alternative">Alternative</option>
											<option value="coutnry">Country</option>

										</select>

									</div>
								</ng-template>


								<!-- <button class="button margin-top-15">Save Changes</button> -->
								<input type="submit" class="button border fw margin-top-10" name="editProfile" value="Submit" />
							</form>

						</div>
					</div>
				</div>

				<!-- Change Password -->
				<div class="col-lg-6 col-md-12">
						<form (ngSubmit)="onEditChangePass(r)" #r="ngForm" method="post" class="editProfile">
								
					<div class="dashboard-list-box margin-top-0">
						<h4 class="gray">Change Password</h4>
						<div class="dashboard-list-box-static">

							<!-- Change Password -->
							<div class="my-profile">
								<!-- <label class="margin-top-0">Current Password</label>
								<input type="password"> -->

								<label>New Password</label>
								<input [(ngModel)]="firstPass" name="firstPass" type="password">

								<label>Confirm New Password</label>
								<input [(ngModel)]="secondPass" name="secondPass" type="password">
								<h3 *ngIf="passwordsUpdated">password was changed</h3>
								<h3 *ngIf="passwordsDontMatch">password was not changed</h3>
								<button class="button margin-top-15">Change Password</button>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Content / End -->
	</div>
	<!-- Dashboard / End -->
</div>
<!-- Wrapper / End -->