	<!-- Banner
	================================================== -->
	<div class="main-search-container" data-background-image="./assets/images/main-search-background-01.jpg">
		<div class="main-search-inner">
	
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Find Nearby Musicians and Events</h2>
						<h4>Explore top-rated artists and featured events in your area</h4>
	
						<app-search-bar></app-search-bar>
					</div>
				</div>
			</div>
	
		</div>
	</div>
	
	
	<!-- Content
	================================================== -->
	<div class="container">
		<div class="row">
	
			<div class="col-md-12">
				<h3 class="headline centered margin-top-75">
					Trending Musicians
					<span>Browse <i>the most popular</i> artists</span>
				</h3>
			</div>
	
		</div>
	</div>
	
	
	<!-- Categories Carousel -->
	<div class="fullwidth-carousel-container margin-top-25">
		<div class="fullwidth-slick-carousel category-carousel">
	
			<!-- Item -->
			<div class="fw-carousel-item">
	
				<!-- this (first) box will be hidden under 1680px resolution -->
				<div class="category-box-container half">
					<a href="listings-half-screen-map-grid-1.html" class="category-box" data-background-image="assets/images/category-box-01.jpg">
						<div class="category-box-content">
							<h3>Rock</h3>
							<span>64 musicians</span>
						</div>
						<span class="category-box-btn">Browse</span>
					</a>
				</div>
	
				<div class="category-box-container half">
					<a href="listings-half-screen-map-grid-1.html" class="category-box" data-background-image="assets/images/category-box-02.jpg">
						<div class="category-box-content">
							<h3>Jazz</h3>
							<span>14 musicians</span>
						</div>
						<span class="category-box-btn">Browse</span>
					</a>
				</div>
			</div>
	
			<!-- Item -->
			<div class="fw-carousel-item">
				<div class="category-box-container">
					<a href="listings-half-screen-map-grid-1.html" class="category-box" data-background-image="assets/images/category-box-03.jpg">
						<div class="category-box-content">
							<h3>Country</h3>
							<span>67 musicians</span>
						</div>
						<span class="category-box-btn">Browse</span>
					</a>
				</div>
			</div>
	
			<!-- Item -->
			<div class="fw-carousel-item">
				<div class="category-box-container">
					<a href="listings-half-screen-map-grid-1.html" class="category-box" data-background-image="assets/images/category-box-04.jpg">
						<div class="category-box-content">
							<h3>Blues</h3>
							<span>27 musicians</span>
						</div>
						<span class="category-box-btn">Browse</span>
					</a>
				</div>
			</div>
	
			<!-- Item -->
			<div class="fw-carousel-item">
				<div class="category-box-container">
					<a href="listings-half-screen-map-list.html" class="category-box" data-background-image="assets/images/category-box-05.jpg">
						<div class="category-box-content">
							<h3>Hip Hop</h3>
							<span>22 musicians</span>
						</div>
						<span class="category-box-btn">Browse</span>
					</a>
				</div>
			</div>
	
			<!-- Item -->
			<div class="fw-carousel-item">
				<div class="category-box-container">
					<a href="listings-half-screen-map-list.html" class="category-box" data-background-image="assets/images/category-box-06.jpg">
						<div class="category-box-content">
							<h3>Pop</h3>
							<span>130 musicians</span>
						</div>
						<span class="category-box-btn">Browse</span>
					</a>
				</div>
			</div>
	
		</div>
	</div>
	<!-- Categories Carousel / End -->
	
	
	
	<!-- Fullwidth Section -->
	<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">
	
		<div class="container">
			<div class="row">
	
				<div class="col-md-12">
					<h3 class="headline centered margin-bottom-45">
						Featured Events
						<span>Discover events that are looking for musicians like you</span>
					</h3>
				</div>
	
				<div class="col-md-12">
					<div class="simple-slick-carousel dots-nav">
	
					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="assets/images/listing-item-01.jpg" alt="">
	
								<div class="listing-badge now-open">Now Hiring</div>
								
								<div class="listing-item-content">
									<span class="tag">Business</span>
									<h3>Corporate Event</h3>
									<span>964 School Street, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
							<div class="star-rating" data-rating="3.5">
								<div class="rating-counter">(12 reviews)</div>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->
	
					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="assets/images/listing-item-02.jpg" alt="">
								<div class="listing-item-details">
									<ul>
										<li>Friday, August 10</li>
									</ul>
								</div>
								<div class="listing-item-content">
									<span class="tag">Celebration</span>
									<h3>Birthday Party</h3>
									<span>Bishop Avenue, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
							<div class="star-rating" data-rating="5.0">
								<div class="rating-counter">(23 reviews)</div>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->		
	
					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="assets/images/listing-item-03.jpg" alt="">
								<div class="listing-item-details">
									<ul>
										<li>Starting from $59 per night</li>
									</ul>
								</div>
								<div class="listing-item-content">
									<span class="tag">Regular Work</span>
									<h3>Club Performer</h3>
									<span>778 Country Street, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
							<div class="star-rating" data-rating="2.0">
								<div class="rating-counter">(17 reviews)</div>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->
	
					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="assets/images/listing-item-04.jpg" alt="">
	
								<div class="listing-badge now-open">Guitarists</div>
	
								<div class="listing-item-content">
									<span class="tag">Regular Work</span>
									<h3>Coffee House</h3>
									<span>2726 Shinn Street, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
							<div class="star-rating" data-rating="5.0">
								<div class="rating-counter">(31 reviews)</div>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->
	
					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="assets/images/listing-item-05.jpg" alt="">
								<div class="listing-item-content">
									<span class="tag">Celebration</span>
									<h3>Wedding</h3>
									<span>1512 Duncan Avenue, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
							<div class="star-rating" data-rating="3.5">
								<div class="rating-counter">(46 reviews)</div>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->
	
					</div>
					
				</div>
	
			</div>
		</div>
	
	</section>
	<!-- Fullwidth Section / End -->
	