<mat-toolbar class="topbar">
  <!-- Sidenav toggle button -->
  <button 
  mat-icon-button
  id="sidenavToggle" 
  (click)="toggleSidenav()"
  matTooltip="Toggle Hide/Open">
  <mat-icon>menu</mat-icon>
  </button>
  <!-- Sidenav toggle collapse -->
  <button 
  *ngIf="sidenav.opened"
  mat-icon-button
  id="collapseToggle"
  fxHide.lt-md="true" 
  (click)="toggleCollapse()"
  matTooltip="Toggle Collapse"
  class="toggle-collapsed">
  <mat-icon>chevron_left</mat-icon>
  </button>
  <!-- Search form -->
  <div 
  fxFlex
  fxHide.lt-sm="true" 
  class="search-bar" (offClick)="offClick()">
    <form [formGroup]="searchForm" class="top-search-form" (ngSubmit)="submit(false)">
      <mat-expansion-panel [expanded]="expand" [disabled]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon role="img">search</mat-icon>
                <input class="search-text" [formControl]="searchForm.controls['text']" autofocus="true" placeholder="Search" type="text" (click)="click()" (keyup)="onKey($event)">
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-button-toggle-group [formControl]="searchForm.controls['type']" name="searchType" value="Artist" (change)="this.submit()">
            <mat-button-toggle value="Artist">
              Artists
            </mat-button-toggle>
            <mat-button-toggle value="Host">
              Hosts
            </mat-button-toggle>
            <mat-button-toggle value="Event">
              Events
            </mat-button-toggle>
          </mat-button-toggle-group>
          <br>
          <br>
          <mat-form-field>
            <mat-select placeholder="Music Genres" [formControl]="searchForm.controls['genres']" (openedChange)="genreSelectOpen()" multiple (change)="this.submit()">
              <mat-select-trigger class="additional-selection">
                {{(searchForm.controls['genres'].value ? searchForm.controls['genres'].value[0] : '') | capitalize}}
                <span *ngIf="searchForm.controls['genres'].value?.length > 1">
                  (+{{searchForm.controls['genres'].value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let genre of genresList" [value]="genre">{{genre | capitalize}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select placeholder="Event Types" [formControl]="searchForm.controls['events']" (openedChange)="eventSelectOpen()" multiple (change)="this.submit()">
              <mat-select-trigger class="additional-selection">
                {{(searchForm.controls['events'].value ? searchForm.controls['events'].value[0] : '') | capitalize}}
                <span *ngIf="searchForm.controls['events'].value?.length > 1">
                  (+{{searchForm.controls['events'].value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let event of eventsList" [value]="event">{{event | capitalize}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="City, State" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #searchplaces [formControl]="searchForm.controls['location']">
          </mat-form-field>
          <div *ngIf="searchForm.controls['type'].value == 'Event'">
            <br>
            <mat-form-field>
              <input matInput [formControl]="searchForm.controls['startDate']" [matDatepicker]="startpicker" placeholder="Start Date" (click)="startpicker.open()" [readonly]="true">
              <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
              <mat-datepicker #startpicker (opened)="startDateOpen()" (closed)="startDateOpen()"></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput [formControl]="searchForm.controls['endDate']" [matDatepicker]="endpicker" placeholder="End Date" (click)="endpicker.open()" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                <mat-datepicker #endpicker (opened)="endDateOpen()" (closed)="endDateOpen()"></mat-datepicker>
              </mat-form-field>
          </div>
          <br>
          <mat-form-field *ngIf="searchForm.controls['type'].value != 'Event'">
              <mat-select placeholder="Sort Type" [formControl]="searchForm.controls['sort']" (openedChange)="sortSelectOpen()" (change)="this.submit()">
                <mat-select-trigger class="additional-selection">
                  {{(searchForm.controls['sort'].value ? searchForm.controls['sort'].value : '') | capitalize}}
                </mat-select-trigger>
                <mat-option *ngFor="let type of userSortTypes" [value]="type">{{type | capitalize}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="searchForm.controls['type'].value == 'Event'">
                <mat-select placeholder="Sort Type" [formControl]="searchForm.controls['sort']" (openedChange)="sortSelectOpen()" (change)="this.submit()">
                  <mat-select-trigger class="additional-selection">
                    {{(searchForm.controls['sort'].value ? searchForm.controls['sort'].value : '') | capitalize}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let type of eventSortTypes" [value]="type">{{type | capitalize}}</mat-option>
                </mat-select>
              </mat-form-field>
          <br>
          <button mat-raised-button class="mr-1">Submit</button>
        </mat-expansion-panel>
    </form>
  </div>  
  <span fxFlex></span>
  <div *ngIf="user; else login">
    <button 
    mat-icon-button
    matTooltip="Performances" 
    [style.overflow]="'visible'"
    routerLink="/bookingmanagement/myperformances"
    class="topbar-button-right">
      <mat-icon>music_note</mat-icon>
    </button>

    <button 
    mat-icon-button
    matTooltip="Events" 
    [style.overflow]="'visible'"
    routerLink="/bookingmanagement/myevents"
    class="topbar-button-right">
      <mat-icon>event_available</mat-icon>
    </button>

    <button 
    *ngIf="userService.user.stripeAccountId"
    mat-icon-button
    matTooltip="Create Event" 
    [style.overflow]="'visible'"
    routerLink="/events"
    class="topbar-button-right">
      <mat-icon>event</mat-icon>
    </button>

    <button 
    mat-icon-button
    *ngIf="!userService.user.stripeAccountId"
    matTooltip="Create Event" 
    [style.overflow]="'visible'"
    (click)="authorizeStripe()"
    class="topbar-button-right">
      <mat-icon>event</mat-icon>
    </button>

    <button 
    mat-icon-button
    matTooltip="Calendar" 
    [style.overflow]="'visible'"
    routerLink="/calendar"
    class="topbar-button-right">
      <mat-icon>date_range</mat-icon>
    </button>

     <!-- CHat toggle button -->
     <button 
     mat-icon-button
     matTooltip="Private Messaging" 
     (click)="goToMessages()"
     [style.overflow]="'visible'" 
     class="topbar-button-right">
       <mat-icon>message</mat-icon>
       <span *ngIf="this._sharedDataService.overallUnreadChatCountForThisUser != 0" class="notification-number mat-bg-warn">{{this._sharedDataService.overallUnreadChatCountForThisUser}}</span>
       <span *ngIf="this._sharedDataService.overallUnreadChatCountForThisUser == 0" class="notification-number"></span>
     </button>
    <!-- Notification toggle button -->
    <button 
    mat-icon-button
    matTooltip="Notifications" 
    (click)="toggleNotific()"
    [style.overflow]="'visible'" 
    class="topbar-button-right">
      <mat-icon>notifications</mat-icon>
      <span *ngIf="numNotifications != 0" class="notification-number mat-bg-warn">{{numNotifications}}</span>
      <span *ngIf="numNotifications == 0" class="notification-number"></span>
    </button>
    <!-- Top left user menu -->
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right img-button">
      <img [src]="this.userService.user.profilePicUrl" alt="">
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']">
        <mat-icon>account_box</mat-icon>
        <span>Profile</span>
      </button>
      <!-- <button mat-menu-item [routerLink]="['/profile']">
        <mat-icon>settings</mat-icon>
        <span>Edit Profile</span>
      </button> -->
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </div>
  <ng-template #login>
    <button 
    mat-icon-button
    [routerLink]="['/auth']" 
    [style.width]="'auto'"
    [style.overflow]="'visible'"
    matTooltip="Login or Register"
    class="topbar-button-right">
      <span>Login</span>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>