<h1 matDialogTitle>{{title}}</h1>
<div *ngIf="hasStripe" mat-dialog-content>{{subtext}}</div>
<div *ngIf="!hasStripe" mat-dialog-content class="form-error-msg">Please go and link your profile to Stripe before verification and payment</div>
<br>
<form mat-dialog-content [formGroup]="verificationForm" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
        <textarea matInput [formControl]="verificationForm.controls['comment']" placeholder="Leave a comment"></textarea>
    </mat-form-field>
</form>
<div mat-dialog-actions>
<button
[disabled]="!hasStripe" 
type="button" 
mat-raised-button
color="primary" 
(click)="verify()">{{acceptButtonText}}</button>
&nbsp;
<span fxFlex></span>
<button 
[disabled]="!hasStripe"
type="button"
color="accent"
mat-raised-button 
(click)="reject()">{{declineButtonText}}</button>
</div>`
