<!-- Wrapper -->
<div id="wrapper">
      <!-- Dashboard -->
      <div id="dashboard">
        <!-- Content ================================================== -->
        <div class="dashboard-content">
    
          <!-- Titlebar -->
          <div id="titlebar">
            <div class="row">
              <div class="col-md-12">
                <h2>Applied artists:</h2>
              </div>
            </div>
          </div>
    
          <div class="row">
    
            <!-- Listings -->
            <div class="col-lg-12 col-md-12">
              <div class="dashboard-list-box margin-top-0">
                <h4>List of artists:</h4>
                <ul>
                  <li *ngFor="let result of this.currentBookings; let i = index">
                    <div class="list-box-listing">
                      <div class="list-box-listing-img">
                        <a (click)="onClickArtist(result.booking.performerUser._id)">
                          <img [src]="result.booking.performerUser.profilePicUrl" alt="">
                        </a>
                      </div>
                      <div class="list-box-listing-content" (click)="onClickArtist(result.booking.performerUser._id)">
                        <div class="inner">
                          <h3>
                              <a (click)="onClickArtist(result.booking.performerUser._id)">
                            {{result.booking.performerUser.firstName}} {{result.booking.performerUser.lastName}}
                            </a>
                          </h3>
                          <!-- <span>Address: {{ event.event.address }}</span> -->
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!result.booking.approved && result.booking.bookingType == 'artist-apply'" class="buttons-to-right">
                      <a (click)="onDeclineArist(result.booking, i)" class="button gray">
                        <i class="sl sl-icon-close"></i> Decline</a>
                      <a (click)="onAcceptArtist(result.booking, i)" class="button gray">
                        <i class="im im-icon-Yes"></i> Accept</a>
                    </div>
                    <div *ngIf="!result.booking.approved && result.booking.bookingType == 'host-request'" class="buttons-to-right">
                        <a (click)="onDeclineArist(result.booking, i)" class="button gray">
                          <i class="sl sl-icon-close"></i> Cancel Request</a>
                      </div>
                    <div *ngIf="result.booking.approved" class="buttons-to-right">
                      <a (click)="onDeclineArist(result.booking, i)" class="button gray">
                        <i class="sl sl-icon-close"></i> Cancel Musician</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Content / End -->
        </div>
        <!-- Dashboard / End -->
      </div>
      <!-- Wrapper / End -->