<form (ngSubmit)="onSubmit()" #heroForm="ngForm" method="post" class="main-search-input">

  <div class="main-search-input-item">
    <select (change)="onChange()" [(ngModel)]="model.searchType" name="searchType" #type="ngModel">
      <option *ngFor="let searchType of searchTypes" [value]="searchType">{{searchType}}</option>
    </select>
  </div>

  <div class="main-search-input-item">
    <input [(ngModel)]="model.text" name="text" #text="ngModel" type="text" placeholder="Name"/>
  </div>

  <div class="main-search-input-item location">
    <input placeholder="Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
  </div>

  <div class="main-search-input-item">
    <select [(ngModel)]="model.genre" name="power" #genre="ngModel" placeholder="Genre">
      <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
    </select>
  </div>

  <button type="submit" class="button">Search</button>
</form>
