<!-- Wrapper -->
<div id="wrapper">
    
    
      <!-- Dashboard -->
      <div id="dashboard">
    
    
        <!-- Content ================================================== -->
        <div class="dashboard-content">
    
          <!-- Titlebar -->
          <div id="titlebar">
            <div class="row">
              <div class="col-md-12">
                <h2>My Listings</h2>
              </div>
            </div>
          </div>
    
          <div class="row">
    
            <!-- Listings -->
            <div class="col-lg-12 col-md-12">
              <div class="dashboard-list-box margin-top-0">
                <h4>Events you are hosting:</h4>
                <ul>
                  <li *ngFor="let event of this.events; let i = index">
                    <div class="list-box-listing">
                      <div class="list-box-listing-img">
                        <a (click)="onPickEvent(event.event)">
                          <img src="../../assets/images/jimsmall.png" alt="">
                        </a>
                      </div>
                      <div class="list-box-listing-content" (click)="onPickEvent(event.event)">
                        <div class="inner">
                          <h3>
                              <a (click)="onPickEvent(event.event)">
                            {{event.event.eventName}}
                            </a>
                          </h3>
                          <span>{{ event.event.address }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="buttons-to-right">
                      <a (click)="onRequestEvent(event.event)" class="button gray">
                        <i class="sl sl-icon-note"></i>Request Artist for this Event</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Content / End -->
        </div>
        <!-- Dashboard / End -->
      </div>
      <!-- Wrapper / End -->